<mat-form-field class="datepicker-template" [appearance]="appearance" [floatLabel]="floatLabel">
  <mat-label *ngIf="matLabel">{{matLabel}}</mat-label>

  <input matInput 
    [matDatepicker]="picker" 
    [required]="required" 
    [placeholder]="placeholder" 
    [readonly]="readonly"
    [formControl]="date" 
    (ngModelChange)="selectDate(date);" 
    autocomplete="off">
  
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <mat-datepicker #picker [calendarHeaderComponent]="calendarHeader"></mat-datepicker>

  <span *ngIf="inputNotMatch" class="mat-error">{{inputNotMatch}}</span>
</mat-form-field>