<article *ngIf="data" class="about-template">
    <div class="container">
        <div class="title center">
            <h3 [innerHTML]="data.name | safeHtml"></h3>
            <p class="caption" *ngIf="data.caption" [innerHTML]="data.caption | safeHtml"></p>
        </div>
    
        <div class="contents">
            <div class="row">
                <div *ngFor="let item of data.contents" 
                    class="{{ data.contents.length === 4 ? 'col-sm-6' : 'col-sm-4' }}">
                    <div class="item">
                        <app-icon *ngIf="isBrowser" [iconValue]="item.icon"></app-icon>
                        <div class="data">
                            <h4 [innerHTML]="item.title | safeHtml"></h4>
                            <span class="text" *ngIf="item.caption" [innerHTML]="item.caption | safeHtml"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>