<div *ngIf="formData" class="client-sign-up">
    <em class="text-accent">{{data.mess}}</em>

    <div class="username">
        <div class="username-form-field">
            <input type="hidden" [(ngModel)]="formData.username" name="username" required>
    
            <a mat-button class="acc-type" [matMenuTriggerFor]="optionMenu">
                <i class="{{formData.accType.faIcon}}"></i> <mat-icon class="drop_down">arrow_drop_down</mat-icon>
            </a>
            <mat-menu #optionMenu="matMenu">
                <a mat-menu-item *ngFor="let item of data.accTypes"
                    (click)="formData.accType=item; getUsername();"><i class="{{item.faIcon}}"></i> {{item.title}}</a>
            </mat-menu>
        
            <app-email-form-field-template *ngIf="formData.accType.value==='email'"
                [appearance]="appearance" 
                [floatLabel]="floatLabel" 
                [required]="true" 
                [matLabel]="data.username.label"
                [mailData]="{mail: email}" 
                (emitData)="formData.email=$event; getUsername();"></app-email-form-field-template>
        
            <app-phone-number-form-field-template *ngIf="formData.accType.value==='phone'"
                [appearance]="appearance" 
                [matLabel]="data.username.label" 
                [data]="phoneNumber" 
                (emitData)="formData.phoneNumber=$event; getUsername();"></app-phone-number-form-field-template>

            <span *ngIf="formData.usernameErr" class="username-error">
                {{formData.usernameErr.mess}} 
                <em *ngIf="formData.usernameErr.err" class="click" (click)="checkUsername();">{{langData.retry}}</em>
            </span>
        </div>
    </div>

    <div class="password">
        <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel">
            <mat-label>{{data.password.label}}</mat-label>
            <input type="password" [(ngModel)]="formData.password" name="password" required 
                [minlength]="passwordMinlength" (ngModelChange)="checkPassword();" (blur)="formData.showPasswordError=true" 
                matInput [placeholder]="data.password.placeholder" autocomplete="off">

                <span *ngIf="formData.passwordInvalid && formData.showPasswordError" 
                    class="mat-error">{{formData.passwordInvalid}}</span>
        </mat-form-field>
        <em  class="text-error"></em>
    </div>

    <div class="re-password">
        <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel">
            <mat-label>{{data.rePassword.label}}</mat-label>
            <input type="password" [(ngModel)]="formData.rePassword" name="rePassword" required 
                [minlength]="passwordMinlength" (ngModelChange)="checkPassword();" (blur)="formData.showRePasswordError=true" 
                matInput [placeholder]="data.rePassword.placeholder" autocomplete="off" 
                [disabled]="!formData.password || formData.passwordInvalid">

                <span *ngIf="formData.passwordNotMatch && formData.showRePasswordError" 
                    class="mat-error">{{formData.passwordNotMatch}}</span>
        </mat-form-field>
    </div>

    <div *ngIf="!noSubmit" class="submit">
        <a mat-button class="medium bg-accent flex" (click)="submit(formData);"
            [class.disabled]="!formData.username 
                            || !formData.password 
                            || !formData.rePassword 
                            || formData.passwordInvalid 
                            || formData.passwordNotMatch">
                            <i *ngIf="process" class="fa fa-spinner fa-spin"></i> {{data.submit}}</a>
    </div>
</div>

<ng-container *ngIf="process">
    <div *ngIf="!process.loading" class="client-sign-up-process">
        <h4>{{process.title}}</h4>
        <em *ngIf="process.err" class="text-error">{{process.err}}</em >

        <div class="btns">
            <em *ngIf="formData.loginError" class="text-error block">{{formData.loginError.note}}</em>
            <a *ngIf="process.done" mat-button class="bg-accent medium" (click)="signIn(formData)">{{data.signIn}}</a>
            <a *ngIf="process.err" mat-button class="bg-warn medium" (click)="submit(formData)">{{data.retry}}</a>
        </div>
    </div>
</ng-container>