<div class="write-comment-form">
    <div class="avatar">
        <app-user-avatar-template [userData]="userData" [width]="avatarWidth" [circle]="true"></app-user-avatar-template>
    </div>
    
    <form (ngSubmit)="submit()">
        <mat-form-field [appearance]="config?.appearance" [floatLabel]="config?.floatLabel" 
            [class.empty]="!formData.content" [class.on-rep-for-user]="cmData?.repFor?.name">
            <textarea [id]="inputID" [(ngModel)]="formData.content" name="content" matInput [placeholder]="langContent?.writeComment?.placeholder" autosize></textarea>
            <span *ngIf="cmData?.repFor?.name" class="rep-for-user-name">
                {{cmData?.repFor?.name}} <i class="fas fa-times" (click)="cmData.repFor=null; formData.repFor=null;"></i>
            </span>
        </mat-form-field>
    
        <div class="buttons">
            <div class="tools">
                <a mat-icon-button [matTooltip]="langContent?.writeComment?.upload?.tooltip" matTooltipPosition="above"><i class="fas fa-photo-video"></i></a>
                <a mat-icon-button [matTooltip]="langContent?.writeComment?.link?.tooltip" matTooltipPosition="above"><i class="fas fa-link"></i></a>
            </div>

            <div class="submit">
                <button mat-button [disabled]="!formData.content" [ngStyle]="config?.submit?.styles">
                    <span *ngIf="config?.submit?.icon" class="icon" [innerHtml]="config?.submit?.icon | safeHtml"></span>
                    <span class="txt" *ngIf="!config?.submit?.iconOnly">{{langContent?.writeComment?.send}}</span>
                </button>
            </div>
        </div>
    </form>
</div>