#page {
    padding-top: 0;

    .page-banner {
        overflow: hidden;

        .page-cover {
            height: 100%;
            overflow: hidden;
            flex-direction: column;
            display: flex;
            place-content: center;
        }

        @media (max-width: 567px) {
            height: 260px !important;

            .page-cover {
                width: 200%;
                margin-left: -50%;
            }
        }
    }

    .page-content {
        .navigation-map {
            font-size: 90%;
            border-bottom: 1px solid var(--accentBorder);
            margin-bottom: 2rem;
            padding-bottom: .5rem;

            a {
                color: var(--primaryColor);
            }

            a:hover {
                color: var(--accentColor);
            }

            .raquo {
                margin: 0 .5rem;
            }
        }

        .page-title {
            margin-bottom: 1.5rem;
        }

        .text-error {
            background: var(--lightBorder);
            display: block;
            margin-bottom: 2rem;
            padding: 1rem;
        }

        .page-avatar {
            margin-bottom: 2rem;

            .picture {
                position: relative;
                height: 0;
                overflow: hidden;
                padding-top: 69%;
    
                app-avatar {
                    position: absolute;
                    top: -20%;
                }
            }
        }

        .page-avatar.left {
            @media (min-width: 568px) {
                float: left;
                width: 200px;
                margin-right: 1.5rem;
                margin-bottom: 1rem;
            }
            
            @media (min-width: 768px) {
                width: 250px;
            }
        }

        .caption {
            white-space: pre-wrap;
        }

        .text {
            padding-bottom: 1rem;

            img {
                max-width: 100%;
            }
        }
    }

    .continue-button {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .continue-button.right {
        text-align: right;
    }
    .continue-button.center {
        text-align: center;
    }
    
    .page-bottom {
        font-size: 14px;
        margin-top: 2rem;
        display: block;
        height: 40px;
        overflow: hidden;
    }

    .categories {
        .item {
            margin-bottom: .5rem;

            .icon {
                margin-right: 1rem;
                font-size: 24px;
            }
    
            .name {
                /*   font-size: 18px; */
                  text-transform: uppercase;
                /*   font-weight: 400; */
            }
        }
    }

    .posts {
        .title {
            color: var(--warnColor);
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }

        .picture {
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 70%;
            overflow: hidden;
            flex-direction: column;
            display: flex;
            place-content: center;

            app-avatar {
                position: absolute;
                top: -10%;
            }
        }

        .item {
            .name {
                font-size: 20px;
                color: var(--warnColor);
                font-weight: 400;
    
                a {
                    color: var(--warnColor);
                }
    
                a:hover {
                    color: var(--accentColor);
                }
            }

            .time {
                font-size: 90%;
                font-style: ÷italic;
                opacity: .8;
            }
        }
    }
    
    .posts.articles {
        .item {
            margin-bottom: 2rem;
            padding: 1rem;
            box-shadow: 0 2px 9px -7px #000;

            .picture {
                margin-bottom: 1rem;
                border: none !important;
                box-shadow: none !important;
            }
        }
    
        .item:hover {
            box-shadow: 0 2px 9px -5px #000;
        }
    }

    .posts.list {
        .item {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 2rem;

            .post-avatar, .data {
                float: left;
                padding-left: 15px;
                padding-right: 15px;
            }

            .post-avatar {
                width: 100px;
            }

            .data {
                // width: 75%;
                flex-direction: column;
                display: flex;
                place-content: center;
            }
        }
    }

    .sidebar {
        padding-bottom: 2rem;

        @media (max-width: 1199px) {
            padding-top: 2rem;
        }

        .sticky-top {
            top: 160px !important;
            z-index: 1 !important;
        }

        .contact-form {
            box-shadow: 0 2px 9px -7px #000;

            .title {
                background: var(--warnColor);
                color: var(--light);
                text-align: center;
                padding: 1rem;

                h4 {
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-top: 0.5rem;
                    margin-bottom: 0;
                }
            }

            .form-data {
                padding: 1.3rem 1rem;
            }
        }
    }
}

#page.fullscreen {
    position: fixed;
    background: var(--light);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 199;

    .page-banner {
        display: none;
    }

    .page-content {
        position: absolute;
        background: var(--light);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 124px;
        padding-bottom: 100px;
    }
}