<div id="page-layout" [class.loaded]="routerLoaded">
    <h2>Page title</h2>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam illo provident sint nulla ut consequuntur id natus quisquam quos illum reprehenderit exercitationem voluptate impedit, sunt et architecto magnam maiores necessitatibus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam illo provident sint nulla ut consequuntur id natus quisquam quos illum reprehenderit exercitationem voluptate impedit, sunt et architecto magnam maiores necessitatibus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam illo provident sint nulla ut consequuntur id natus quisquam quos illum reprehenderit exercitationem voluptate impedit, sunt et architecto magnam maiores necessitatibus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam illo provident sint nulla ut consequuntur id natus quisquam quos illum reprehenderit exercitationem voluptate impedit, sunt et architecto magnam maiores necessitatibus.</p>
</div>

<div *ngIf="routerLoading" class="router-loading">
    <img src="assets/imgs/loading_nice.gif" alt="" width="200" class="loading-icon">
</div>