.change-domain {
    position: fixed;
    background: #039be5 !important;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
}

.change-domain:hover {
    background: #0288d1 !important;
    color: #fff !important;
}