ul {
    margin: 0;
    padding: 0;
}

.menu.on-toolbar {
    height: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 100%;
    }

    li:hover {
        .menu-item {
            a {
                // background-color: var(--warnColor);
                color: var(--warnColor);
                border-bottom-color: var(--warnColor);
            }
            a::after {
                height: 4px;
                opacity: 1;
            }
        }

        ul.childs {
            padding-top: 0;
            visibility: visible;
            opacity: 1;
        }
    }

    a {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-transform: uppercase;
    }

    .menu-item {
        a {
            color: inherit;
            font-size: 14px;
            font-weight: 400;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        a::after {
            position: absolute;
            background-color: var(--warnColor);
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            opacity: 0;
        }
        a.active {
            background-color: var(--warnColor);
            color: var(--whiteColor);
            border-radius: 4px;
        }
    }

    ul.childs {
        position: absolute;
        left: 0;
        min-width: 180px;
        box-shadow: 0 3px 7px -5px #000;
        visibility: hidden;
        opacity: 0;

        .menu-child {
            position: relative;
            width: 100%;

            a {
                color: var(--whiteColor);
                font-size: 14px;
                height: 40px;
                white-space: nowrap;

                .icon, .txt {
                    position: relative;
                }
            }
            a::before {
                position: absolute;
                background-color: var(--primaryColor);
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            a:hover::before {
                opacity: .1;
            }
        }
        .menu-child::before {
            position: absolute;
            background-color: var(--warnColor);
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .9;
        }
        .menu-child::after {
            position: absolute;
            background-color: #fff;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            opacity: .2;
        }
        .menu-child:last-child::after {
            opacity: 0;
        }
    }
}