<button *ngIf="dialog" mat-button (click)="openForm();"
    class="open-form-btn bg-{{btnOption.color ? btnOption.color : 'warn'}}">
    <span *ngIf="!btnOption.viewMode || btnOption.viewMode==='iconOnly'" class="icon"><i class="fas fa-comments"></i></span>
    <span *ngIf="!btnOption.viewMode || btnOption.viewMode!=='iconOnly'" class="txt">{{langContent.btnTitle}}</span>
</button>

<div *ngIf="formData && langContent" class="contact-form fixed {{open}}" [class.popup-content]="dialog">
    <div [class.popup-body]="dialog" style="max-width: 700px;">
        <button *ngIf="dialog" class="close-content" mat-icon-button (click)="closeForm();"><i class="fas fa-times"></i></button>
        <h4 class="title text-accent">{{langContent.formTitle}}</h4>

        <div [class.popup-data]="dialog">
            <div class="data-content">
                <form class="form-data medium-size" (ngSubmit)="submit(formData);" #dataForm="ngForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" floatLabel="always">
                                <mat-label>{{langContent.name.label}}</mat-label>
                                <input type="text" [(ngModel)]="formData.name" name="name" required 
                                    matInput [placeholder]="langContent.name.placeholder" autocomplete="off">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <app-location-finder-template 
                                [lang]="lang" 
                                appearance="outline" 
                                floatLabel="always" 
                                [matlabel]="langContent.location.label" 
                                [placeholder]="langContent.location.placeholder" 
                                [required]="true" 
                                [requireMatchValue]="langContent.location.requireMatchValue" 
                                (emitData)="selectLocation($event, phoneNumber);"></app-location-finder-template>
                        </div>

                        <div class="col-sm-6">
                            <app-phone-number-form-field-template #phoneNumber
                                [lang]="lang" 
                                appearance="outline" 
                                [matLabel]="langContent.phone.label" 
                                [placeholder]="langContent.phone.placeholder" 
                                [required]="!formData.email && formData.locationCountry==='VN' || formData.phoneRequired" 
                                (emitData)="formData.tel=$event; checkReplyMethod(formData.replyMethod);"></app-phone-number-form-field-template>
                        </div>

                        <div class="col-sm-6">
                            <app-email-form-field-template 
                                [lang]="lang" 
                                appearance="outline" 
                                floatLabel="always" 
                                [matLabel]="langContent.email.label" 
                                [placeholder]="langContent.email.placeholder" 
                                [required]="formData.locationCountry!=='VN' || formData.emailRequired" 
                                (emitData)="formData.email=$event; checkReplyMethod(formData.replyMethod);"></app-email-form-field-template>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline" floatLabel="always">
                                <mat-label>{{langContent.subject.label}}</mat-label>
                                <input type="text" [(ngModel)]="formData.subject" name="subject" matInput
                                    [placeholder]="langContent.subject.placeholder" required autocomplete="off">
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline" floatLabel="always">
                                <mat-label>{{langContent.content.label}}</mat-label>
                                <textarea [(ngModel)]="formData.content" name="content" required 
                                    matInput [placeholder]="langContent.content.placeholder" autosize></textarea>
                            </mat-form-field>
                        </div>

                        <!-- <div class="col-12 reply-method">
                            <span class="title">{{langContent.replyMethod.label}}</span>
                            <mat-radio-group [(ngModel)]="formData.replyMethod" name="replyMethod" required 
                                (ngModelChange)="checkReplyMethod(formData.replyMethod);">
                                <mat-radio-button *ngFor="let item of langContent.replyMethod.options" 
                                    [value]="item.value">{{item.title}}</mat-radio-button>
                            </mat-radio-group>
                            <em *ngIf="formData.replyMethodFail" class="text-error">{{formData.replyMethodFail}}</em>
                        </div> -->

                        <div class="col-md-6">
                            <div *ngIf="hostname!=='localhost'" class="re-captcha">
                                <recaptcha
                                    [formControl]="myRecaptcha"
                                    (scriptLoad)="onScriptLoad()"
                                    (scriptError)="onScriptError()"></recaptcha>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="btns text-right">
                                <a mat-raised-button class="button medium pull-left" 
                                    (click)="closeForm();">{{langData.cancel}}</a>
                                <button mat-button class="button medium bg-accent" 
                                    [disabled]="dataForm.invalid || !myRecaptcha.value">
                                    <mat-icon>send</mat-icon>&nbsp;<span class="txt">{{langData.send}}</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="process" class="process">
            <div class="loading-icon text-{{process.err ? 'warn' : 'accent'}}">
                <div class="loading" [style.opacity]="process.processing ? 1 : 0">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="done" [style.opacity]="process.processing ? 0 : 1">
                    <mat-icon>{{process.err ? 'error' : 'check_circle'}}</mat-icon>
                </div>
            </div>
    
            <span class="mess font-400 font-face text-{{process.err ? 'warn' : 'accent'}}">{{process.mess}}</span>
            <em *ngIf="process.notif" class="notif text-accent">{{process.notif}}</em>
    
            <span class="btns text-center">
                <a *ngIf="process.err" mat-button class="button bg-warn" (click)="submit(formData);">{{langData.retry}}</a>
                <a *ngIf="process.err" mat-button class="button bg-accent" (click)="closeForm();">{{langData.cancel}}</a>
                <a *ngIf="!process.err" mat-button class="button bg-accent" (click)="closeForm();">{{langData.close}}</a>
            </span>
        </div>
    </div>

    <div *ngIf="open" class="backdrop dark fixed"></div>
</div>
