<div *ngIf="data" class="process-template">
  <div class="process-content">
    <img class="loading" [style.opacity]="data.processing ? '1' : '0'" src="assets/imgs/dot-loading.gif" alt="" width="100px">
    <span [class]="data.err ? 'done text-error' : 'done text-accent'" [style.opacity]="data.processing ? '0' : '1'">
      <mat-icon>{{data.err ? 'error_outline' : 'check_circle_outline'}}</mat-icon>
    </span>

    <h4 [class]="data.err ? 'mess text-error' : 'mess text-accent'">{{data.mess}}</h4>

    <span *ngIf="data.success" class="on-success">
      <em class="block">{{data.success}}</em>
      <button mat-raised-button class="bg-accent" (click)="cancel.emit();">{{data.closeBtn ? data.closeBtn : 'OK'}}</button>
    </span>

    <span *ngIf="data.err" class="on-err">
      <em class="text-error block">{{data.err}}</em>
      <button *ngIf="!data.noRetry" mat-button class="bg-warn" (click)="retry.emit();">{{data.retry ? data.retry : 'Retry'}}</button>
      <button *ngIf="!data.noCancel" mat-raised-button (click)="cancel.emit();">{{data.cancel ? data.cancel : 'Cancel'}}</button>
    </span>
  </div>

  <div class="backdrop" [style.background]="data.bdColor ? data.bdColor : '#fff'" [style.opacity]="data.bdOpacity ? data.bdOpacity : 0.9"></div>
</div>