.schadule-dates {
    position: relative;
    height: 100%;

    .start-date, .return-date {
        width: 50%;
        float: left;
    }
    .start-date {
        padding-right: 3.5px;
    }
    .return-date {
        padding-left: 3.5px;
    }

    .error-mess {
        position: absolute;
        background-color: var(--warn);
        color: #fff;
        font-size: 13px;
        left: 12px;
        top: 100%;
        margin-top: -12px;
        padding: 0 7px;
        border-radius: 4px;
    }

    @media (max-width: 567px) {
        .start-date, .return-date {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}