.image-viewer-template {
    position: relative;
    padding-top: 1px;

    .title {
        position: absolute;
        top: 24px;
        left: 10px;
        color: #fff;
        z-index: 9999;
        font-size: 20px;
    }

    .title.showPDFOnlyOption {
        left: 50px;
    }
}