.theme-settings {
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    bottom: -100%;
    max-height: 100%;
    padding-top: 44px;
    box-shadow: 0 -1px 5px -4px #000;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    .header {
        position: absolute;
        background: var(--lightColor);
        top: 0;
        width: 100%;
        height: 44px;
        padding: 0 15px;
        flex-direction: row;
        display: flex;
        align-items: center;
        box-shadow: 0 1px 3px -3px #000;
        z-index: 200;

        h4 {
            margin: 0;
            color: var(--warnColor)
        }

        .close-settings {
            position: absolute;
            background: var(--warnColor);
            color: var(--light);
            right: 0;
            min-width: auto;
            height: 100%;
            border-radius: 0;
            width: 40px;
        }
        .close-settings:hover {
            opacity: .7;
        }
    }

    .data {
        width: 100%;
        min-height: 250px;
        max-height: 380px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;

        @media (max-height: 410px) {
            max-height: 330px;
        }
        @media (max-height: 374px) {
            max-height: 316px;
        }
        @media (max-height: 359px) {
            max-height: 276px;
        }
        @media (max-height: 319px) {
            max-height: 196px;
        }

        .colors {
            display: flex;
            flex-wrap: wrap;
            margin-left: -7.5px;
            margin-right: -7.5px;
    
            .color-item {
                float: left;
                width: 20%;
                padding-left: 7.5px;
                padding-right: 7.5px;
                margin-bottom: 15px;

                @media (max-width: 1023px) {
                    width: 33.3333333%;
                }
                @media (max-width: 639px) {
                    width: 50%;
                }
                @media (max-width: 567px) {
                    width: 100%;
                }
    
                span.title {
                    font-weight: 400;
                    text-transform: capitalize;
                    margin-bottom: .5rem;
                    display: block;
                    padding: 10px 15px;
                    box-shadow: 0 1px 3px -2px #000;
                }
            }
        }

        .btns {
            margin-bottom: 20px;
            text-align: right;

            button {
                margin-left: 15px;
            }
        }
    }
}
.theme-settings.open {
    bottom: 0;
}