<div *ngIf="dataSource" class="album-viewwer-template popup-content {{open}} fixed">
    <div class="popup-body">
        <button class="close-content" mat-icon-button (click)="close();"><i class="fas fa-times"></i></button>
        
        <div class="popup-data">
            <div class="data-content">
                <div *ngIf="!images" class="loading">
                    <img src="assets/imgs/loading_nice.gif" alt="" width="70px">
                </div>

                <app-image-viewer-template *ngIf="images" 
                    [title]="title" 
                    [images]="images" 
                    [indexImagemAtual]="indexImagemAtual" 
                    (onNext)="onNext($event);" 
                    (onPrevious)="onPrevious($event);"></app-image-viewer-template>
            </div>
        </div>
    </div>
    <div *ngIf="open" class="popup-bg dark"></div>
</div>

<ng-container *ngIf="viewDemo">
    <a mat-raised-button color="warn" class="open-viewwer-demo" (click)="openData()">Open Image Viewer</a>
</ng-container>
