<div *ngIf="data.id" class="web-contact-form">
    <div *ngIf="dataConfig.title" class="title">
        <h4>{{data.name}}</h4>
        <span class="sub-title">{{data.subName}}</span>
    </div>
    
    <div class="form-data size-80 bg-white">
        <span *ngIf="dataConfig.caption && data.caption" class="caption" [innerHtml]="data.caption | safeHtml"></span>

        <form *ngIf="formData && isBrowser" (ngSubmit)="submit(formData);" #dataForm="ngForm">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{langContent.name.label}}</mat-label>
                <input type="text" [(ngModel)]="formData.name" name="name" required 
                    matInput [placeholder]="langContent.name.placeholder" autocomplete="off">
            </mat-form-field>
        
            <app-location-finder-template *ngIf="dataConfig.location" 
                [lang]="lang" 
                appearance="outline" 
                floatLabel="always" 
                [matlabel]="langContent.location.label" 
                [placeholder]="langContent.location.placeholder" 
                [required]="true" 
                [requireMatchValue]="langContent.location.requireMatchValue" 
                (emitData)="selectLocation($event, phoneNumber);"></app-location-finder-template>
        
            <app-phone-number-form-field-template #phoneNumber
                [lang]="lang" 
                appearance="outline" 
                [matLabel]="langContent.phone.label" 
                [placeholder]="langContent.phone.placeholder" 
                [required]="!formData.email && formData.locationCountry==='VN'" 
                (emitData)="formData.tel=$event;"></app-phone-number-form-field-template>
        
            <app-email-form-field-template 
                [lang]="lang" 
                appearance="outline" 
                floatLabel="always" 
                [matLabel]="langContent.email.label" 
                [placeholder]="langContent.email.placeholder" 
                [required]="formData.locationCountry!=='VN'" 
                (emitData)="formData.email=$event;"></app-email-form-field-template>
        
            <mat-form-field *ngIf="dataConfig.subject && dataConfig.services" appearance="outline" floatLabel="always">
                <mat-label>{{langContent.subject.label}}</mat-label>
                <mat-select [(ngModel)]="formData.subject" name="subject" [placeholder]="langContent.subject.placeholder" required>
                    <mat-option *ngFor="let item of dataConfig.services" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{langContent.content.label}}</mat-label>
                <textarea [(ngModel)]="formData.content" name="content" required 
                    matInput [placeholder]="langContent.content.placeholder" autosize></textarea>
            </mat-form-field>
        
            <div class="btns text-right">
                <button mat-button class="button medium bg-warn" [disabled]="dataForm.invalid">
                    <mat-icon>send</mat-icon>&nbsp;<span class="txt">{{langData.send}}</span></button>
            </div>
        
            <div *ngIf="processData" class="process">
                <div class="loading-icon text-{{processData.err ? 'warn' : 'accent'}}">
                    <div class="loading" [style.opacity]="processData.processing ? 1 : 0">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <div class="done" [style.opacity]="processData.processing ? 0 : 1">
                        <mat-icon>{{processData.err ? 'error' : 'check_circle'}}</mat-icon>
                    </div>
                </div>
        
                <span class="mess font-400 font-face text-{{processData.err ? 'warn' : 'accent'}}">{{processData.mess}}</span>
                <em *ngIf="processData.notif" class="notif text-accent">{{processData.notif}}</em>
        
                <span class="btns text-center">
                    <a *ngIf="processData.err" mat-button class="button bg-warn" (click)="submit(formData);">{{langData.retry}}</a>
                    <a *ngIf="processData.err" mat-button class="button bg-accent" (click)="processData=null;">{{langData.cancel}}</a>
                    <a *ngIf="!processData.err" mat-button class="button bg-accent" (click)="processData=null; resetForm();">{{langData.close}}</a>
                </span>
            </div>
        </form>
    </div>
</div>