<div *ngIf="data.config" class="content-quote {{data.config.carded ? 'm-card' : ''}} {{data.config.bgColor}}">
    <h4 class="title" [innerHtml]="data.name"></h4>
    <div class="text">
        <span *ngIf="data.caption" class="caption" [innerHtml]="data.caption"></span>

        <ng-container *ngFor="let item of contents">
            <h5 *ngIf="item.title!==data.name" class="title" [innerHtml]="item.title | safeHtml"></h5>
            <div *ngIf="item.content" [innerHtml]="item.content | safeHtml"></div>
        </ng-container>
    </div>
</div>