<button mat-icon-button class="acc-btn toggle-menu"
    [matTooltip]="!userData ? 'Log in' : ''" matTooltipPosition="below" (click)="openMenu();">
    <!-- <i *ngIf="!userData" class="fas fa-user-circle"></i> -->
    <mat-icon *ngIf="!userData" class="no-login">person_outline</mat-icon>

    <app-avatar *ngIf="userData"
        [src]="userData.avatarLink"
        width="30px" 
        shape="circle" 
        noImage="profile.jpg"></app-avatar>
</button>

<span *ngIf="openLogin || openUserMenu" class="on-dropdown-open"></span>

<div *ngIf="lang" class="login menu-dropdown" [class.open]="openLogin">
    <app-login [lang]="lang" (close)="closeAccMenu();"></app-login>
</div>

<ng-container *ngIf="userData && data">
    <div class="acc-menu menu-dropdown" [class.open]="openUserMenu">
        <div class="data">
            <div class="user-info">
                <app-avatar 
                    [src]="userData.avatarLink"
                    width="80px" 
                    shape="circle" 
                    noImage="profile.jpg"></app-avatar>
        
                <span class="name font-400">{{data.welcome}} {{userData.nickname ? userData.nickname : userData.fullname}}!</span>

                <a *ngIf="accManager.href" [href]="accManager.href" rel="nofollow" target="_blank" mat-button class="flex" 
                    (click)="closeAccMenu();" class="acc-manager">
                    <span class="icon"><i class="{{accManager.faIcon}}"></i></span> {{data.accManager}}</a>

                <a *ngIf="accManager.route" [routerLink]="accManager.route" mat-button class="flex" (click)="closeAccMenu();"
                    class="acc-manager"><span class="icon"><i class="{{accManager.faIcon}}"></i></span> {{data.accManager}}</a>
            </div>
    
            <div class="menu-list">
                <ng-container *ngFor="let item of menuItems">
                    <a *ngIf="item.route" mat-button [routerLink]="item.route" (click)="closeAccMenu();" 
                        class="menu-item">
                        <span class="icon">
                            <mat-icon *ngIf="!item.faIcon">{{item.matIcon}}</mat-icon>
                            <i *ngIf="item.faIcon" class="{{item.faIcon}}"></i></span> {{item.title}}</a>

                    <a *ngIf="item.href" mat-button [href]="item.href" rel="nofollow" target="_blank" 
                        (click)="closeAccMenu();" class="menu-item">
                        <span class="icon">
                            <mat-icon *ngIf="!item.faIcon">{{item.matIcon}}</mat-icon>
                            <i *ngIf="item.faIcon" class="{{item.faIcon}}"></i></span> {{item.title}}</a>

                    <a *ngIf="item.action" mat-button (click)="doAction(item.action); closeAccMenu();" 
                        class="menu-item">
                        <span class="icon">
                            <mat-icon *ngIf="!item.faIcon">{{item.matIcon}}</mat-icon>
                            <i *ngIf="item.faIcon" class="{{item.faIcon}}"></i></span> {{item.title}}</a>
                </ng-container>
            </div>
    
            <button mat-button class="sign-out bg-warn" (click)="logOut();">{{data.signOut}}</button>
        </div>
    </div>
</ng-container>

<span *ngIf="openLogin || openUserMenu" class="backdrop fixed" (click)="closeAccMenu();"></span>