.starting-template {
    background-color: var(--accentColor);
    padding: 3rem 0;
    
    .data {
        position: relative;        
        display: flex;
        align-items: center;

        @media (min-width: 501px) {
            flex-direction: row;

            .mat-button {
                position: absolute;
                right: 0;
            }
        }

        @media (max-width: 500px) {
            flex-direction: column;

            .mat-button {
                margin-top: 1rem;
            }
        }

        h4 {
            font-size: 40px;
            font-weight: 700;
        }

        @media (max-width: 767px) {
            h4 {
                font-size: 34px;
            }
        }
    }
}