<button mat-icon-button class="toggle-menu" 
    [class.available]="dataSource.length>0" 
    [class.opening]="openMenu" 
    (click)="toggleMenu();">
    <!-- <i class="fas fa-bell"></i> -->
    <mat-icon>notifications_none</mat-icon>
    <span *ngIf="dataSource.length>0" class="data-length">{{dataSource.length}}</span>
</button>
<span class="on-dropdown-open" [style.opacity]="openMenu ? 1 : 0"></span>

<div class="notifications-menu menu-dropdown" [class.open]="openMenu">
    <div *ngIf="dataSource.length===0" class="no-data">
        <em class="text-warn">{{langContent.noData}}</em>
    </div>


</div>

<span *ngIf="openMenu" class="backdrop fixed" (click)="openMenu=false;"></span>