<div class="toolbar" [class.nav-is-fixed]="navIsFixed">
    <div class="top">
        <div class="container">
            <span *ngIf="isBrowser" class="toggle-sidenav">
                <button mat-icon-button (click)="toggleSidenav.emit();">
                    <mat-icon>menu</mat-icon>
                    <!-- <i class="fas fa-bars"></i> -->
                </button>
            </span>

            <div class="col-left">
                <a class="logo" [routerLink]="'/'+lang">
                    <img class="logo-sq" src="assets/imgs/logo/favicon_sm.png" alt="" height="70%">
                    <img class="logo-ls" src="assets/imgs/logo/logo_lsc_sm.png" alt="" height="70%">
                </a>

                <div *ngIf="isBrowser" class="data-search">
                    <button mat-icon-button class="search-icon" 
                        (click)="openSearch=true; dataSearchTemplate.focus()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <app-data-search [class.open]="openSearch" 
                        #dataSearchTemplate ID='toolbar' 
                        (closeForm)="openSearch=false"></app-data-search>
                    <span class="backdrop fixed" *ngIf="openSearch" (click)="openSearch=false"></span>
                </div>
            </div>

    
            <div class="col-right">
                <ul class="menu-top">
                    <li *ngFor="let menu of menuData.top" class="list">
                        <a *ngIf="menu.desData.type!=='href'"
                            [routerLink]="menu.desData.type==='path' ? (menu.desData.value ? menu.desData.value : path) : path" 
                            (click)="doAction(menu.desData);" [class.active]="menu.active">
                            <app-icon *ngIf="!menu.textOnly && isBrowser" [iconValue]="menu.iconData"></app-icon>
                            <span *ngIf="!menu.iconOnly" class="txt">{{menu.title}}</span>
                        </a>
                        <a *ngIf="menu.desData.type==='href'" [href]="menu.desData.value" [target]="menu.target">
                            <app-icon *ngIf="!menu.textOnly && isBrowser" [iconValue]="menu.iconData"></app-icon>
                            <span *ngIf="!menu.iconOnly" class="txt">{{menu.title}}</span>
                        </a>
        
                        <ul *ngIf="menu.childs.length>0">
                            <li *ngFor="let li of menu.childs">
                                <a *ngIf="li.desData.type!=='href'"
                                    [routerLink]="li.desData.type==='path' ? (li.desData.value ? li.desData.value : path) : path" 
                                    (click)="doAction(li.desData);">{{li.title}}</a>
                                <a *ngIf="li.desData.type==='href'" [href]="li.desData.value" [target]="li.target">{{li.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
        
                <div *ngIf="isBrowser" class="tools">
                    <span class="item home">
                        <button mat-icon-button class="toggle-menu"
                            (click)="closeTool.emit();
                                    favoritesMenu.openMenu=false;
                                    cartMenu.openMenu=false;
                                    accountMenu.openUserMenu=false;
                                    accountMenu.openLogin=false;"><mat-icon>home</mat-icon>
                        </button>
                    </span>
    
                    <app-favorites-menu class="item favorites hidden" #favoritesMenu
                        [lang]="lang" 
                        (openTool)="openTool.emit();
                                    cartMenu.openMenu=false;
                                    notifMenu.openMenu=false;
                                    accountMenu.openUserMenu=false;
                                    accountMenu.openLogin=false;"></app-favorites-menu>
    
                    <app-cart-menu class="item cart hidden" #cartMenu
                        [lang]="lang" 
                        (openTool)="openTool.emit();
                                    favoritesMenu.openMenu=false;
                                    notifMenu.openMenu=false;
                                    accountMenu.openUserMenu=false;
                                    accountMenu.openLogin=false;"></app-cart-menu>
    
                    <app-notifications class="item notifications" #notifMenu 
                        [lang]="lang" 
                        (openTool)="openTool.emit();
                                    favoritesMenu.openMenu=false;
                                    cartMenu.openMenu=false;
                                    accountMenu.openUserMenu=false;
                                    accountMenu.openLogin=false;"></app-notifications>

                    <app-account-menu class="item account" #accountMenu
                        [lang]="lang" 
                        (openTool)="openTool.emit();
                                    favoritesMenu.openMenu=false;
                                    cartMenu.openMenu=false;
                                    notifMenu.openMenu=false;"></app-account-menu>
    
                    <span class="item langs">
                        <a [matMenuTriggerFor]="langsMenu">
                            <flag-icon *ngIf="selectedLang" [country]="selectedLang.code" squared></flag-icon> 
                            <span class="txt">{{selectedLang ? selectedLang.title : ''}}</span>
                            <i class="fas fa-caret-down"></i>
                        </a>
                        <mat-menu #langsMenu="matMenu" class="small-size">
                            <ng-container *ngFor="let item of siteLangs">
                                <a *ngIf="!item.disable" mat-menu-item (click)="changeLanguage(item);">
                                    <flag-icon [country]="item.code" squared></flag-icon> {{item.nameObj.vernacular}}</a>
                            </ng-container>
                        </mat-menu>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>