.toolbar:not(.fixed) {
    position: relative;
}

.toolbar.fixed {
    position: fixed;
    width: 100%;
}

.toolbar {
    .toolbar-content {
        position: relative;
        z-index: 2;

        @media (max-width: 767px) {
            max-width: unset !important;
        }
    }

    .toolbar-content:not(.container) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .toolbar-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .left {
        float: left;
        margin-right: .5rem;
    }

    .right {
        float: right;
    }

    .logo, .site-name, .contacts, .socials, .langs, .tools, .site-menu {
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;
    }

    .logo.circle {
        img {
            border-radius: 50%;
        }
    }

    .logo.center {
        position: absolute;
        width: 100%;
        place-content: center;
        left: 0;
        float: unset;
        z-index: 1;
    }

    .contacts, .socials {
        a {
            color: var(--warnColor);
        }
        
        .mat-button {
            min-width: auto;

            i, img {
                position: relative;
                z-index: 1;
            }
        }

        .mat-button:hover {
            background-color: rgba($color: #fff, $alpha: 0.07)
        }
    }

    .contacts {
        .phone.icon-only, .email.icon-only {
            position: relative;

            .txt {
                position: absolute;
                background-color: rgba($color: #000000, $alpha: 0.9);
                color: #fff;
                top: 90%;
                right: 0;
                padding: .3rem .7rem;
                border-radius: 4px;
                white-space: nowrap;
                visibility: hidden;
                opacity: 0;
            }
        }
        .phone.icon-only:hover, .email.icon-only:hover {
            .txt {
                visibility: visible;
                opacity: 1;
                top: 100%;
                margin-top: 1rem;
            }
        }

        .phone.text-only, .email.text-only {
            .mat-button {
                display: none;
            }
        }

        .email {
            margin-left: .3rem;
        }

        .phone.text-only, .phone:not(.icon-only), .email.text-only, .email:not(.icon-only) {
            .txt {
                margin-right: .5rem;
            }
        }
    }

    .tools.right {
        margin-left: 1rem;
    }

    .langs {
        .lang-name {
            display: none;
        }
    }

    .site-menu {
        .menu-item {
            a {
                color: var(--textColor);
            }
        }
        li:hover {
            .menu-item {
                a {
                    color: var(--textColorOnHover);
                }
            }
        }
    }
    
    .site-menu.clear {
        height: auto;
        clear: both;
        width: 100%;
        float: left;
    }
    .site-menu.clear.center {
        place-content: center;
    }
    .site-menu.clear.right {
        place-content: flex-end;
    }

    .langs {
        .lang-name {
            font-weight: 300;
            margin-left: .3rem
        }
    }
    .langs.right {
        margin-left: 1.3rem;
    }

    .tools {
        .item-btn {
            cursor: pointer;
        }

        .menu-dropdown {
            background: none;
            color: var(--primaryColor);
            min-width: 230px;
            max-width: 100%;
            right: 15px;
        }

        app-login {
            position: relative;
            display: block;
        }
        app-login:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: var(--whiteColor);
            opacity: 1;
            z-index: 0;
        }

        .login {
            position: relative;
            width: 320px;
            z-index: 1;
            
            form {
                flex-direction: column;
                display: flex;
                align-items: center;
                padding: 1rem 1.5rem;

                .title {
                    font-weight: 400;
                    margin-bottom: .7rem;
                }

                .form-field {
                    position: relative;
                    width: 100%;
                    margin-bottom: .7rem;
                }

                .option {
                    font-size: 90%;
                    flex-direction: row;
                    display: flex;
                    place-content: center;
                    margin-bottom: .5rem;

                    mat-radio-button {
                        margin: 0 .5rem;
                    }
                }

                .user-login {
                    margin-top: .5rem;
                }

                .user-login, .fb-login, .gg-login {
                    margin-bottom: 1rem;
                    width: 100%;
                }

                app-social-login {
                    width: 100%;
                }

                .social-login {
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                }

                .or {
                    margin-bottom: .5rem;
                }

                .login-err {
                    text-align: center;
                }
            }

            .bottom {
                background: var(--danger);
                font-size: 90%;
                padding: .5rem 1.5rem;
                overflow: hidden;

                a {
                    color: #fff;
                }
                a:hover {
                    color: #ffff00
                }

                .create-acc {
                    float: right;
                    cursor: pointer;
                }
            }
        }

        .user-menu {
            background-color: var(--whiteColor);
            color: var(--primaryColor);

            .user-data {
                background-color: var(--accentColor);
                color: var(--whiteColor);
                text-align: center;
                padding: 1.3rem 1rem 1rem;
                flex-direction: column;
                display: flex;
                align-items: center;

                .name {
                    font-weight: 400;
                    margin-top: .5rem;
                }

                app-user-avatar-template {
                    .first-letter {
                        background-color: var(--whiteColor);
                        color: var(--warnColor);
                        font-size: 40px;
                    }
                }
            }

            .menu-item {
                color: var(--primaryColor);
                font-size: 90%;
                place-content: center;
                text-align: center;
            }
            .menu-item:hover {
                color: var(--warnColor);
            }
        }

        .log-out {
            width: 100%;
            border-radius: 0;
        }
    }
}

.toolbar.navIsFixed {
    .site-menu {
        .menu-item {
            a {
                color: var(--textColorOnFixed);
            }
        }
        li:hover {
            .menu-item {
                a {
                    color: var(--textColorOnFixedOnHover);
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .toggle-sidenav {
        display: none;
    }
}

@media (max-width: 1024px) {
    .toolbar-content {
        .site-menu {
            display: none;
        }
    }
    
    .toggle-sidenav {
        position: absolute;
        left: 15px;
        top: 0;
        height: 100%;
        flex-direction: column;
        display: flex;
        place-content: center;

        a {
            color: var(--warnColor) !important;
        }
    }

    .logo {
        margin-left: 35px
    }

    // .toolbar.navIsFixed {
    //     .toggle-sidenav {
    //         a {
    //             color: var(--textColorOnFixed) !important;
    //         }
    //     }
    // }
}

@media (min-width: 575px) {
    .toolbar-bottom {
        display: none;
    }
}

@media (max-width: 574px) {
    .logo {
        img {
            height: 50% !important;
        }
    }
    .contacts, .socials {
        display: none !important;
    }

    .toolbar-content {
        height: 60px !important;
    }

    .toolbar-bottom {
        position: fixed;
        background: var(--primaryColor);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        flex-direction: row;
        display: flex;

        .mat-button {
            color: var(--warnColor);
            min-width: auto;
            border-radius: 0;
            flex-grow: 1;
        }
    }
}