<div *ngIf="data" class="trade-with-us-template">
    <div class="container">
        <div class="title">
            <h3 [innerHTML]="data.name | safeHtml"></h3>
            <p class="caption" *ngIf="data.caption" [innerHTML]="data.caption | safeHtml"></p>
        </div>
    </div>

    <div class="bg">
        <!-- <img *ngIf="data.coverUrl" [src]="data.coverUrl" alt="forex"> -->
        <img [src]="'assets/imgs/TradeWithYuFX.jpg'" alt="forex">
    </div>

    <a *ngIf="data.continueBtn" 
        mat-button class="lg flex bg-accent rounded" 
        [routerLink]="data.continueBtn.value">
        {{ data.continueBtn.title }}</a>
</div>