<div class="sidenav" [class.open]="open">
    <header>
        <span class="siteName">Web demo</span>

        <a *ngIf="isBrowser" mat-icon-button (click)="open=false; toggleSidenav.emit(open);"><i class="fas fa-arrow-left"></i></a>
    </header>

    <perfect-scrollbar>
        <app-menu position="sidenav"></app-menu>
    </perfect-scrollbar>
</div>

<div *ngIf="!open && isBrowser" class="toggle-sidenav" (click)="open=true; toggleSidenav.emit(open);"></div>
<div *ngIf="open" class="backdrop dark fixed" (click)="open=false; toggleSidenav.emit(open);"></div>