<div *ngIf="siteValues" class="sidenav" [class.open]="open">
    <header>
        <span class="logo">
            <img src="assets/imgs/logo/favicon.png" alt="" width="40">
        </span>

        <span class="name">{{siteValues.name}}</span>

        <button mat-icon-button class="close-sidenav" (click)="close.emit()"><i class="fas fa-arrow-left"></i></button>
    </header>

    <div class="body">
        <perfect-scrollbar>
            <ul class="menu">
                <li *ngFor="let menu of menuData">
                    <a *ngIf="menu.desData.type!=='href'"
                        [routerLink]="menu.desData.type==='path' ? (menu.desData.value ? menu.desData.value : path) : path" 
                        (click)="doAction(menu.desData);" [class.active]="menu.active">
                        <app-icon [iconValue]="menu.iconData"></app-icon>
                        <span class="txt">{{menu.title}}</span>
                    </a>
                    <a *ngIf="menu.desData.type==='href'" [href]="menu.desData.value" [target]="menu.target">
                        <app-icon [iconValue]="menu.iconData"></app-icon>
                        <span class="txt">{{menu.title}}</span>
                    </a>
        
                    <ul *ngIf="menu.childs.length>0">
                        <li *ngFor="let li of menu.childs">
                            <a *ngIf="li.desData.type!=='href'"
                                [routerLink]="li.desData.type==='path' ? (li.desData.value ? li.desData.value : path) : path" 
                                (click)="doAction(li.desData);">
                                &raquo; {{li.title}}</a>
                            <a *ngIf="li.desData.type==='href'" 
                                [href]="li.desData.value" [target]="li.target">
                                &raquo; {{li.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </perfect-scrollbar>
    </div>
</div>

<div class="backdrop dark fixed" [class.open]="open" (click)="close.emit()"></div>