#footer {
    background-color: var(--primaryColor);
    color: var(--lightColor);

    a {
        color: var(--lightColor);
    }

    .fotter-content {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .co-info {
        margin-bottom: 2rem;

        .contacts {
            margin-top: 1.3rem;
            margin-bottom: 0;
            
            li {
                .icon {
                    margin-right: .5rem;
                }
            }
        }
    }

    .faceb-page {
        margin-bottom: 2rem;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3rem;
        margin-right: -3rem;

        a {
            color: var(--lightColor);
            flex-direction: row;
            display: flex;
            align-items: flex-start;
    
            app-icon {
                margin-right: .5rem;
            }
        }
    
        a.heading {
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 2rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid var(--warnBorder);
        }
    
        a.list {
            margin-top: .7rem;
            line-height: 22px;
        }
    
        a.list:hover {
            color: var(--warnColor);
        }

        .cat {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @media (max-width: 1199px) {
            .cat {
                width: 33.333333333333%;
            }
        }

        @media (max-width: 767px) {
            margin-left: -1rem;
            margin-right: -1rem;

            .cat {
                padding-left: 1rem;
                padding-right: 1rem;
                width: 50%;
            }
        }
    }

    .news-subscribe {
        max-width: 500px;
        margin-top: 2rem;

        .caption {
            margin-bottom: 1rem;
        }

        .form-group {
            background: var(--backgroundColor);
            height: 44px;
            border-radius: 22px;
        }
    }

    .divider-line {
        display: block;
        height: 1px;
        background: var(--light);
        opacity: 0.1;
    }

    .bottom {
        font-size: 80%;
        overflow: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .col-left {
            float: left;
        }

        .col-right {
            float: right;
            text-align: right;
        }
    }
}