#footer {
    .lets-connect {
        overflow: hidden;

        .container {
            position: relative;
            z-index: 2;
        }

        .title {
            color: #fff;
        }

        .contents {
            @media (max-width: 575px) {
                padding: 0 10%;
            }

            .item {
                flex-direction: column;
                display: flex;
                align-items: center;
                margin-top: 1rem;
    
                app-icon {
                    position: relative;
                    width: 80px;
                    height: 80px;
                    border-radius: 50px;
                    overflow: hidden;
                    margin-bottom: .5rem;
    
                    img {
                        width: 30px;
                        height: 30px;
                    }
    
                    .icon {
                        align-items: center;
                        color: #fff;
    
                        i {
                            font-size: 30px;
                        }
                    }
                }
                app-icon:before {
                    position: absolute;
                    content: '';
                    background-color: #fff;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: .1;
                }
    
                .name {
                    color: #fff;
                }
            }
            .item:hover {
                app-icon {
                    .icon {
                        color: var(--accentColor);
                    }
                }
                app-icon:before {
                    background-color: var(--accentColor);
                }
                .name {
                    color: var(--accentColor);
                }
            }
        }

        .bg {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            display: flex;
            place-content: center;
            align-items: center;

            img {
                width: 100%;

                @media (max-width: 735px) {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .bg:before {
            position: absolute;
            content: '';
            background: #000;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .75;
        }
    }

    .fotter-content {
        padding-top: 3rem;
        padding-bottom: 2rem;

        background-color: var(--primaryColor);
        color: var(--lightColor);
    
        a {
            color: var(--lightColor);
        }
    }

    .co-info {
        margin-bottom: 2rem;

        .contacts {
            margin-top: 1.3rem;
            margin-bottom: 0;
            
            li {
                .icon {
                    margin-right: .5rem;
                }
            }
        }
    }

    .faceb-page {
        margin-bottom: 2rem;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3rem;
        margin-right: -3rem;

        a {
            color: var(--lightColor);
            flex-direction: row;
            display: flex;
            align-items: flex-start;
    
            app-icon {
                margin-right: .5rem;
            }
        }
    
        a.heading {
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 2rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid var(--warnBorder);
        }
    
        a.list {
            margin-top: .7rem;
            line-height: 22px;
        }
    
        a.list:hover {
            color: var(--warnColor);
        }

        .cat {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @media (max-width: 1199px) {
            .cat {
                width: 33.333333333333%;
            }
        }

        @media (max-width: 767px) {
            margin-left: -1rem;
            margin-right: -1rem;

            .cat {
                padding-left: 1rem;
                padding-right: 1rem;
                width: 50%;
            }
        }
    }

    .news-subscribe {
        max-width: 500px;
        margin-top: 2rem;

        .caption {
            margin-bottom: 1rem;
        }

        .form-group {
            background: var(--backgroundColor);
            height: 44px;
            border-radius: 22px;
        }
    }

    .divider-line {
        display: block;
        height: 1px;
        background: var(--light);
        opacity: 0.1;
    }

    .bottom {
        background-color: var(--primaryColor);
        color: #fff;
        font-size: 80%;
        overflow: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;

        a {
            color: #fff;
        }

        .col-left {
            float: left;
        }

        .col-right {
            float: right;
            text-align: right;
        }
    }
}