
<div *ngIf="siteValues" id="footer">
    <article class="lets-connect">
        <div class="container">
            <div class="title center">
                <h3 [innerHTML]="'Kết nối với chúng tôi' | safeHtml"></h3>
                <p class="caption" [innerHTML]="'Lorem ipsum dolor sit amet consectetur adipisicing elit' | safeHtml"></p>
            </div>

            <div class="contents">
                <div class="row">
                    <div *ngFor="let item of socials" class="col-sm-3 col-6">
                        <a class="item" [href]="item.link" target="_blank">
                            <app-icon [iconValue]="item.icon"></app-icon>
                            <span class="name">{{ item.name }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg">
            <img src="assets/imgs/social_connect.jpg" alt="">
        </div>
    </article>

    <div class="bottom">
        <div class="container">
            <div class="col-left">
                <div class="copyright">
                    <span class="flex-column">
                        <span>Copyright &copy; 2021</span>
                        <span>Design by <a>Mr. Yu</a></span>
                    </span>
                </div>
            </div>
    
            <div class="col-right">
                <div *ngIf="visitorData" class="visitor-data flex-column">
                    <ng-container *ngIf="visitorData.visitors>=0">
                        <span class="visitors">
                            {{langData.visitors}}:
                            <span class="number">{{visitorData.visitors ? visitorData.visitors : 0}}</span>
                        </span>
                        <!-- <span class="Iota">&Iota;</span> -->
                    </ng-container>
                    
                    <span class="visitings">
                        {{langData.visitings}}: 
                        <span class="number">{{visitorData.visitings ? visitorData.visitings : 0}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>




    <div class="container hidden">
        <div class="fotter-content">
            <div class="row">
                <div class="col-lg-7">
                    <div class="co-info">
                        <h5 class="name">{{siteValues.name}}</h5>
                        <h6 class="slogan">{{siteValues.slogan}}</h6>
                        <ul class="contacts">
                            <li *ngIf="siteValues.address">
                                <span class="icon"><i class="fas fa-map-marker-alt"></i></span> 
                                <a [href]="siteValues.mapsLink" target="_blank">{{siteValues.address}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5">
                    <ng-container *ngIf="embedCodes">
                        <div *ngIf="embedCodes.fbPage" class="faceb-page" [innerHtml]="embedCodes.fbPage | safeHtml"></div>
                    </ng-container>
                </div>
            </div>

            <ul class="menu">
                <li *ngFor="let menu of menuData" class="cat">
                    <ng-container *ngIf="!menu.desData.value">
                        <a class="heading">
                            <app-icon *ngIf="!menu.textOnly" [iconValue]="menu.iconData"></app-icon>
                            <span *ngIf="!menu.iconOnly" class="txt">{{menu.title}}</span>
                        </a>
                    </ng-container>
                    <ng-container *ngIf="menu.desData.value">
                        <a *ngIf="menu.desData.type!=='href'" class="heading"
                            [routerLink]="menu.desData.type==='path' ? (menu.desData.value ? menu.desData.value : path) : path" 
                            (click)="doAction(menu.desData);">
                            <app-icon *ngIf="!menu.textOnly" [iconValue]="menu.iconData"></app-icon>
                            <span *ngIf="!menu.iconOnly" class="txt">{{menu.title}}</span>
                        </a>
                        <a *ngIf="menu.desData.type==='href'" class="heading" 
                            [href]="menu.desData.value" [target]="menu.target">
                            <app-icon *ngIf="!menu.textOnly" [iconValue]="menu.iconData"></app-icon>
                            <span *ngIf="!menu.iconOnly" class="txt">{{menu.title}}</span>
                        </a>
                    </ng-container>
            
                    <ul *ngIf="menu.childs.length>0">
                        <li *ngFor="let li of menu.childs">
                            <ng-container *ngIf="!li.desData.value">
                                <a class="list">
                                    <app-icon *ngIf="!li.textOnly" [iconValue]="li.iconData"></app-icon>
                                    <span *ngIf="!li.iconOnly" class="txt">{{li.title}}</span>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="li.desData.value">
                                <a *ngIf="li.desData.type!=='href'" class="list"
                                    [routerLink]="li.desData.type==='path' ? (li.desData.value ? li.desData.value : path) : path" 
                                    (click)="doAction(li.desData);">
                                    <app-icon *ngIf="!li.textOnly" [iconValue]="li.iconData"></app-icon>
                                    <span *ngIf="!li.iconOnly" class="txt">{{li.title}}</span>
                                </a>
                                <a *ngIf="li.desData.type==='href'" class="list"
                                    [href]="li.desData.value" [target]="li.target">
                                    <app-icon *ngIf="!li.textOnly" [iconValue]="li.iconData"></app-icon>
                                    <span *ngIf="!li.iconOnly" class="txt">{{li.title}}</span>
                                </a>
                            </ng-container>
                        </li>
                    </ul>
                </li>
            </ul>

            <app-news-subscribe-form [lang]="lang" bgColor="bg-primary"></app-news-subscribe-form>
        </div>
        
        <span class="divider-line"></span>
    
        <div class="bottom">
            <div class="col-left">
                <div class="copyright">
                    <span class="flex-column">
                        <span>Copyright &copy; 2021</span>
                        <span>Design by <a>Mr. Yu</a></span>
                    </span>
                </div>
            </div>
    
            <div class="col-right">
                <div *ngIf="visitorData" class="visitor-data flex-column">
                    <ng-container *ngIf="visitorData.visitors>=0">
                        <span class="visitors">
                            {{langData.visitors}}:
                            <span class="number">{{visitorData.visitors ? visitorData.visitors : 0}}</span>
                        </span>
                        <!-- <span class="Iota">&Iota;</span> -->
                    </ng-container>
                    
                    <span class="visitings">
                        {{langData.visitings}}: 
                        <span class="number">{{visitorData.visitings ? visitorData.visitings : 0}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>