<div id="wrapper" [class.loaded]="layoutLoaded">
    <app-sidenav [isBrowser]="isBrowser" [open]="sidenavOpen" (toggleSidenav)="sidenavOpen=$event"></app-sidenav>

    <div class="wrapper-content">
        <app-toolbar [isBrowser]="isBrowser" (toggleSidenav)="sidenavOpen=$event"></app-toolbar>
        
        <router-outlet></router-outlet>
    
        <app-footer></app-footer>

    </div>
</div>

<div *ngIf="!layoutLoaded && isBrowser" id="preloading">
    <img src="assets/imgs/logo/logo.png" [alt]="siteName" width="130" class="logo">
    <img src="assets/imgs/loading_nice.gif" alt="" width="420" class="loading-icon">
</div>