<div id="wrapper" [class.loaded]="layoutLoaded" [class.navIsFixed]="navIsFixed">
    <app-sidenav *ngIf="isBrowser && layoutLoaded" [open]="sidenavOpen" (toggleSidenav)="sidenavOpen=$event"></app-sidenav>

    <div class="wrapper-content">
        <app-toolbar [isBrowser]="isBrowser" [navIsFixed]="navIsFixed" (toggleSidenav)="sidenavOpen=$event"></app-toolbar>
        
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    
        <app-footer></app-footer>
    </div>

    <span *ngIf="isBrowser && layoutLoaded" class="scroll-top">
        <a mat-button (click)="scrollToTop()"><i class="fas fa-angle-double-up"></i></a>
    </span>
</div>

<div *ngIf="!layoutLoaded && isBrowser" id="preloading">
    <img *ngIf="loadingLogo" [src]="loadingLogo" [alt]="siteName" width="100" class="logo">
    <img src="assets/imgs/loading_nice.gif" alt="" width="420" class="loading-icon">
</div>