<div id="wrapper" [class.loaded]="layoutLoaded">
    <ul>
        <li><a routerLink="/">Trang chủ</a></li>
        <li><a routerLink="/vi/gioi-thieu">Giới thiệu</a></li>
        <li><a routerLink="/vi/lien-he">Liên hệ</a></li>
        <li>
            <a routerLink="/vi/khoa-hoc">Khóa học</a>
            <ul>
                <li>
                    <a routerLink="/vi/khoa-hoc-angular">Khóa học Angular</a>
                    <ul>
                        <li><a routerLink="/vi/khoa-hoc-angular/1/angular-can-ban">Angular căn bản</a></li>
                        <li><a routerLink="/vi/khoa-hoc-angular/2/angular-universal">Angular universal</a></li>
                    </ul>
                </li>

                <li>
                    <a routerLink="/vi/khoa-hoc-nodejs">Khóa học NodeJs</a>
                    <ul>
                        <li><a routerLink="/vi/khoa-hoc-nodejs/1/nodejs-can-ban">NodeJs căn bản</a></li>
                        <li><a routerLink="/vi/khoa-hoc-nodejs/2/nodejs-universal">NodeJs universal</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    
    <router-outlet></router-outlet>
</div>

<div *ngIf="!layoutLoaded && isBrowser" id="preloading">
    <img src="assets/imgs/logo/logo.png" [alt]="siteName" width="130" class="logo">
    <img src="assets/imgs/loading_nice.gif" alt="" width="420" class="loading-icon">
</div>