<div class="phone-number-template {{appearance}}">
    <mat-form-field class="code" [appearance]="appearance" [floatLabel]="'always'">
        <mat-label *ngIf="label">{{langContent.code.label}}</mat-label>
        <input type="text"
            [placeholder]="langContent.code.placeholder"
            aria-label="Number"
            matInput
            [formControl]="myControl" 
            (ngModelChange)="getCode()"
            [matAutocomplete]="auto">

        <span class="mat-prefix" matPrefix>
            <span *ngIf="flagCode" class="flag-icon flag-icon-{{flagCode}}"></span>
            <span *ngIf="!flagCode" class="location-icon"><mat-icon>location_on</mat-icon></span>
        </span>

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.dial_code">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="number" [appearance]="appearance" [floatLabel]="floatLabel">
        <mat-label *ngIf="label">{{langContent.number.label}}</mat-label>
        <input type="text"  [(ngModel)]="number" matInput [required]="required" 
            (ngModelChange)="getData()"
            [placeholder]="langContent.number.placeholder" autocomplete="off">

        <span class="mat-error">{{ codeInvalid ? codeInvalid : numberInvalid }}</span>
    </mat-form-field>
</div>