<div *ngIf="isBrowser && data && formData" class="login-form">
    <span class="title font-600 text-warn">{{data.formTitle}}</span>

    <form class="form-data">
        <mat-radio-group [(ngModel)]="formData.option" name="option" (ngModelChange)="getUserOption(formData.option);">
            <mat-radio-button *ngFor="let item of data.userOptions" [value]="item.type">
                <span [class.checked]="item.type===formData.option">{{item.title}}</span>
            </mat-radio-button>
        </mat-radio-group>

        <div class="form-group username">
            <input [type]="formData.accType.value!=='userName' ? 'hidden' : 'text'" class="user-name"
                [(ngModel)]="formData.username" name="userName"
                (ngModelChange)="getForgotPassLink(formData.username);" 
                (keyup.enter)="login(formData)" 
                required [placeholder]="data.username.label" autocomplete="off">
            
            <ng-container *ngIf="formData.accType.value==='email'">
                <app-email-form-field-template 
                    [lang]="lang" 
                    floatLabel="always" 
                    (emitData)="getUsername($event);"></app-email-form-field-template>
            </ng-container>

            <ng-container *ngIf="formData.accType.value==='phone'">
                <app-phone-number-form-field-template 
                    [lang]="lang" 
                    appearance="" 
                    floatLabel="always" 
                    formStyle="no-style" 
                    (emitData)="getUsername($event);"></app-phone-number-form-field-template>
            </ng-container>

            <span class="suffix">
                <a [matMenuTriggerFor]="accTypeMenu" class="acc-type">
                    <mat-icon>arrow_drop_down</mat-icon> <i class="{{formData.accType.faIcon}}"></i></a>
                    <mat-menu #accTypeMenu="matMenu" class="small-size">
                        <a mat-menu-item *ngFor="let item of data.accTypes" (click)="formData.accType=item">
                            <i class="{{item.faIcon}}"></i> {{item.title}}
                        </a>
                    </mat-menu>
            </span>
        </div>
        
        <div class="form-group password">
            <input type="password" [(ngModel)]="formData.password" name="userName"
                (keyup.enter)="login(formData)" 
                required [placeholder]="data.password.label" autocomplete="off">
            <span class="suffix"><a><i class="fas fa-unlock-alt"></i></a></span>
        </div>

        <div class="sign-in">
            <span *ngIf="formData.loginFail" class="error text-accent">{{formData.loginFail.note}}</span>

            <a mat-button class="sign-in-btn flex" (click)="login(formData)"
                [disabled]="!formData.username || !formData.password">{{data.login}}</a>

            <p *ngIf="userOptions" class="forgot-pass">
                <a [href]="userOptions.forgotPassLink" rel="nofollow" target="_blank">{{data.forgotPass}}</a>
            </p>
        </div>
    </form>

    <div class="social-login">
        <span class="or"><span class="txt">{{data.or}}</span></span>
        <app-social-login 
            [title]="data.signInWith" 
            [defaultColor]="true" 
            (emitSocialUser)="socialLogedin($event);"></app-social-login>
    </div>

    <span class="sign-up">
        <span class="label">{{data.signUp.label}}</span>
        <a mat-button class="flex" (click)="signUp();">{{data.signUp.suggestions}}</a>
    </span>
</div>