.login-form {
    .title {
        font-size: 18px;
    }

    .form-group {
        position: relative;
        flex-direction: column;
        display: flex;
        place-content: center;
        overflow: hidden;

        .suffix {
            position: absolute;
            background: #fff;
            right: 12px;
            z-index: 100;

            .acc-type {
                flex-direction: row;
                display: flex;
                align-items: center;
            }
        }
    }

    .forgot-pass {
        margin-top: 5px;
    }

    .error {
        font-size: 90%;
    }
}