.address-form-fields {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .country, .province, .address {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
}