<div class="address-form-fields">
    <div class="country">
        <app-single-autocomplete #countryTemplate
            [appearance]="appearance" 
            [floatLabel]="floatLabel" 
            [matlabel]="data.country.label"
            [placeholder]="data.country.placeholder"
            [matSuffix]="matSuffix" 
            [required]="required" 
            [options]="countries" 
            [myControlValue]="countryControlValue" 
            [disabled]="disabled" 
            [requireMatchValue]="true" 
            [flagIcon]="countryCode" 
            (emitData)="selectCountry($event);"></app-single-autocomplete>
    </div>

    <div class="province">
        <app-single-autocomplete #provinceTemplate
            [appearance]="appearance" 
            [floatLabel]="floatLabel" 
            [matlabel]="data.province.label"
            [placeholder]="data.province.placeholder"
            [matSuffix]="matSuffix" 
            [required]="required" 
            [options]="provinces" 
            [myControlValue]="provinceControlValue" 
            [disabled]="disabled" 
            [requireMatchValue]="true" 
            (emitData)="selectProvince($event);"></app-single-autocomplete>
    </div>

    <div class="address">
        <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel">
            <mat-label>{{data.address.label}}</mat-label>
            <input type="text" [(ngModel)]="address" (ngModelChange)="selectData();"
                matInput required [placeholder]="data.address.placeholder" autocomplete="off">
        </mat-form-field>
    </div>
</div>