.favorites-menu {
    font-size: 90%;
    min-width: 250px;
    max-width: 100%;

    .no-data {
        margin-top: .3rem;
        padding: 0 20px;
    }

    .heading {
        text-transform: uppercase;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .length {
            margin-left: 7px;
            min-width: 18px;
            height: 18px;
            border-radius: 9px;
            flex-direction: column;
            display: flex;
            place-content: center;
            align-items: center;
        }
    }

    .liked-item {
        color: var(--dark);
        padding: 0 15px;
        flex-direction: row;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .pic {
            margin-right: 10px;
        }
    }
    .liked-item:hover {
        color: var(--warnColor);
    }
}