<div *ngIf="data" class="files-uploader-template" [class.hidden]="hiddenFileInput">
    <div class="upload-field">
        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
            [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }"
            (click)="triggerUploadButton();">
            <span class="title">{{data.title}}</span>
            <em>{{data.accepted}}: <span class="text-accent">{{data.fileTypes}}</span></em>
            <em>{{data.maxTotalSize}}: <span class="text-accent">{{maxFileSize / 1024 / 1024}} MB</span></em>
            <!-- <em>{{data.maxUploads}}: <span class="text-accent">{{maxUploads}}</span></em> -->
        </div>
        
        <label class="upload-button">
            <input id="uploadButton" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                [uploadInput]="uploadInput" multiple>
        </label>
    </div>

    <ul *ngIf="files.length>0 && !hiddenFileInput" class="selected-files">
        <span *ngIf="filesLimited" class="text-error">{{filesLimited}}</span>

        <li *ngFor="let file of files">
            <div class="tools">
                <!-- <mat-checkbox [(ngModel)]="file.checked" (ngModelChange)="checkFile(file, files);"></mat-checkbox> -->
                <button mat-icon-button class="text-warn click" (click)="removeFile(file.id);"><i class="fas fa-times"></i></button>
            </div>

            <div class="file-icon">
                <div *ngIf="file.base64image" class="image">
                    <img [class.landscape]="file.imgLandscape" [src]="file.base64image" alt="">
                </div>
                <i *ngIf="!file.base64image" class="{{file.fileIcon}}"></i>
            </div>
            <span class="file-name">{{file.name}}</span>
            <span class="file-details">
                <em class="text-faded">{{file.fileSize.size | number:'1.2-2'}} {{file.fileSize.unit}} ({{file.type}})</em>
                <!-- <i class="fas fa-times remove-file text-warn click" (click)="removeFile(file.id);"></i> -->
            </span>
        </li>

        <em *ngIf="totalSize" class="total-size text-faded">
            {{data.totalSize}}: <span class="text-warn">{{totalSize.size | number:'1.2-2'}} {{totalSize.unit}}</span></em>

        <div class="acts">
            <span class="checkbox">
                <mat-checkbox [(ngModel)]="checked" [(indeterminate)]="indeterminate" 
                    (ngModelChange)="checkAll(checked, files);"></mat-checkbox>
                <span *ngIf="checkedFiles.length>0" class="remove-selected text-warn click" (click)="removeSelected();">
                    {{data.removeSelected}}</span>
            </span>

            <span class="remove-all text-warn click" (click)="removeAllFiles();">
                <i class="fas fa-trash-alt"></i> <span>{{data.removeAll}}</span>
            </span>
        </div>
    </ul>
    
    <!-- <button mat-raised-button (click)="startUpload()"> Upload </button> -->
</div>