<div class="home-page">
    <ng-container *ngIf="data.JSON">
        <ng-container *ngIf="!data.JSON.slideConfig">
            <img class="cover" [src]="data.coverUrl" [alt]="appName">
        </ng-container>
    
        <div *ngIf="data.JSON.slideConfig" class="header" 
            [style.max-height]="data.JSON.headerHeight ? data.JSON.headerHeight : 'auto'">
        
            <app-main-slider
                [pageID]="data.id" 
                [coverUrl]="data.coverUrl" 
                [title]="data.name" 
                [caption]="data.caption" 
                [slideConfig]="data.JSON.slideConfig"></app-main-slider>
        </div>
    </ng-container>
    
    <div class="main-nav">
        <div class="container">
            <app-menu></app-menu>
        </div>
    </div>
    
    <app-about *ngIf="about" [data]="about"></app-about>

    <app-trade-everywhere *ngIf="tradeEverywhere" [data]="tradeEverywhere"></app-trade-everywhere>

    <app-forex-market *ngIf="forexMarket" [data]="forexMarket"></app-forex-market>

    <app-why-forex *ngIf="whyForex" [data]="whyForex"></app-why-forex>

    <app-starting *ngIf="starting" [data]="starting"></app-starting>

    <app-trade-with-us *ngIf="tradeWithUs" [data]="tradeWithUs"></app-trade-with-us>

    <app-market-analysis></app-market-analysis>
</div>