.page-not-found {
    position: relative;
    flex-direction: column;
    display: flex;
    min-height: 200px;
    place-content: center;
    padding-left: 80px;
    margin-bottom: 4rem;

    .icon {
        position: absolute;
        left: 0;
        font-size: 70px;
        opacity: .3;
    }

    @media (max-width: 576px) {
        padding-left: 0;
        align-items: center;
        text-align: center;

        .icon {
            position: relative;
            left: unset;
            margin-bottom: 1rem;
        }
    }

    .title {
        color: var(--primaryColor);
        font-size: 25px;
        font-weight: 400;
        margin-bottom: .3rem;
    }

    .mess {
        color: var(--warnColor);
        font-size: 18px;
    }
}

.page-not-found.center {
    padding-left: 0;
    align-items: center;
    text-align: center;

    .icon {
        position: relative;
        margin-bottom: 1rem;
        left: unset;
    }
}

.page-not-found::after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--lightBorder);
}