<div class="item">
    <div class="post-avatar">
        <div class="picture">
            <app-avatar class="{{item.avatarType}}"
                type="avatar" 
                [filename]="item.avatar" 
                [src]="item.avatarUrl" 
                [alt]="item.name" 
                width="100%" 
                [shape]="config.avatarStyle ? config.avatarStyle : 'square'" 
                [noImage]="'no-avatar.jpg'" 
                [table]="db_table" 
                [updateId]="item.id" 
                [uploadPath]="uploadPath"></app-avatar>
        </div>
    </div>

    <div class="data">
        <h4 class="name"><a [routerLink]="item.route" [innerHtml]="item.name | safeHtml"></a></h4>
        <span *ngIf="item.description && config.caption" class="description" [innerHtml]="item.description | safeHtml"></span>
        <span class="time">{{langData.updated}}: {{item.createdTime | date:dateFormat+''}}</span>
    </div>

    <a *ngIf="isBrowser" [routerLink]="item.route" class="full-bg-link"></a>
</div>