.product-number-selected {
    height: 40px;
    display: inline-flex;
    border: 1px solid var(--lightBorder);
    border-radius: 4px;
    overflow: hidden;

    .mat-button {
        min-width: auto;
        height: 100%;
        border-radius: 0;
        width: 44px;
        padding: 0;
    }

    .number {
        display: inline-flex;
        min-width: 50px;
        height: 100%;
        flex-direction: column;
        place-content: center;
        align-items: center;
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: inherit;
    }
}