.cource {
    .sidebar {
        .lessions {
            padding-bottom: 0!important;

            .price {
                padding: 1rem;
                flex-direction: column;
                display: flex;
                align-items: center;
                text-align: center;
    
                .cost:not(.strike), .sale-off {
                    // color: var(--warnColor);
                    font-size: 24px;
                    font-weight: 700;
                }
    
                .price .cost.strike {
                    opacity: .7;
                }
    
                .free {
                    font-size: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
    
                .register {
                    color: var(--accentColor) !important;
                }
            }

            .heading {
                position: relative;
                color: var(--warnColor);
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                padding: .5rem 1rem .3rem;
                min-height: 46px;
                flex-direction: row;
                display: flex;
                align-items: center;
                border-bottom: 1px solid var(--backgroundBorder);

                .expand-menu {
                    position: absolute;
                    right: 0;
                }
            }
            .heading::before {
                position: absolute;
                content: '';
                background-color: var(--primaryColor);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .05;
            }

            .heading.menu-open {
                .expand-menu {
                    transform: rotate(180deg);
                }
            }

            ul {
                margin: 0;
                overflow: hidden;
                height: 0;

                li {
                    position: relative;
                    border-bottom: 1px solid var(--backgroundBorder);

                    a {
                        position: relative;
                        display: block;
                        color: var(--primaryColor);
                        font-size: 16px;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        min-height: 46px;
                        padding-top: .5rem;
                        padding-bottom: .3rem;
                        flex-direction: row;
                        display: flex;
                        align-items: center;

                        .icon {
                            margin-right: 1rem;
                        }

                        .title {
                            font-weight: 700;
                            padding-right: 3px;
                        }
                    }
                    a:hover, a.active {
                        color: var(--warnColor);
                    }
                }
                li:hover:before {
                    position: absolute;
                    content: '';
                    background-color: var(--accentColor);
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: .1;
                }
            }
            ul.open {
                height: auto;
            }
        }
    }
}