<div class="categories {{config.type ? config.type : 'list'}} {{config.carded ? 'm-card' : ''}} {{config.bgColor}} {{config.position}} {{dataSource.length===0 ? 'hidden' : ''}}">
    <h4 *ngIf="title" class="title" [innerHtml]="title | safeHtml"></h4>

    <div *ngIf="!config.viewMod || config.viewMod === 'all'" 
        [class]="config.type!=='menu' ? 'row' : ''">
        <div *ngFor="let item of dataSource" 
            class="cat-item {{config.type!=='menu' ? (config.cols ? config.cols : 'col-12') : ''}} {{item.id===moduleID ? 'active' : ''}}">
            <app-cat-item 
                [lang]="lang" 
                [item]="item" 
                [config]="config" 
                [db_table]="db_table" 
                [uploadPath]="uploadPath" 
                [langContent]="langContent" 
                [isBrowser]="isBrowser"></app-cat-item>
        </div>
    </div>

    <ng-container *ngIf="config.viewMod === 'carousel'">
        <mdb-carousel animation="slide">
            <ng-container *ngFor="let items of carousel">
                <mdb-carousel-item>
                    <div class="row">
                        <div *ngFor="let item of items" class="{{config.cols ? config.cols : 'col-12'}}">
                            <app-cat-item 
                                [lang]="lang" 
                                [item]="item" 
                                [config]="config" 
                                [db_table]="db_table" 
                                [uploadPath]="uploadPath" 
                                [langContent]="langContent" 
                                [isBrowser]="isBrowser"></app-cat-item>
                        </div>
                    </div>
                </mdb-carousel-item>
            </ng-container>
          </mdb-carousel>
    </ng-container>
</div>