<div class="main-slider" [class.hidden]="!pageID">
    <div class="slider">
        <div class="slider-image" [style.opacity]="slideConfig ? 0 : 1">
            <img class="cover" [src]="coverUrl" alt="">
        </div>
        
        <ng-container *ngIf="slideConfig">
            <ng-container *ngIf="slideData.dataSource && !resetSlider">
                <app-banner-bootstrap-md-carousel 
                    [config]="slideConfig" 
                    [dataSource]="slideData.dataSource"></app-banner-bootstrap-md-carousel>
            </ng-container>

            <div *ngIf="slideConfig.imgOnly" class="title font-face">
                <div class="container" [style.text-align]="slideConfig.textAlign">
                    <h2 *ngIf="title" [innerHtml]="title | safeHtml"></h2>
                    <span *ngIf="caption" [innerHtml]="caption | safeHtml" class="caption"></span>
    
                    <div *ngIf="slideConfig.continueBtn" class="button">
                        <app-continue-btn 
                            [data]="slideConfig.continueBtn" 
                            [color]="slideConfig.continueBtn.color" 
                            [size]="slideConfig.continueBtn.size" 
                            [icon]="slideConfig.continueBtn.icon"></app-continue-btn>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>