.form-data {
    position: relative;

    .form-field {
        min-height: 78px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline, 
    .mat-form-field-label,
    .mat-select-value, 
    .mat-select-arrow, 
    .mat-select-placeholder {
        color: inherit;
    }

    .mat-select-placeholder {
        opacity: 0.42;
    }

    ::placeholder  {
        color: inherit;
    }
    :-ms-input-placeholder  {
        color: inherit;
    }
    ::-ms-input-placeholder  {
        color: inherit;
    }

    .mat-input-element {
        caret-color: inherit;
    }

    app-processing-template {
        border-radius: inherit;
    }
}