.web-comments {
    .login-mess {
        background-color: var(--backgroundColor);
        padding: 1rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 3px -2px;
    }

    .user-avatar-template {
        .first-letter {
            font-size: 20px;
        }
    }

    .write-comment {
        .write-comment-form {
            background-color: var(--whiteColor);
            padding-left: 70px;
            padding-top: 1rem;
            padding-right: 1rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 7px -5px rgba($color: #000000, $alpha: 1.0);
        
            .avatar {
                position: absolute;
                top: 1rem;
                left: 1rem;
            }

            .buttons {
                height: 60px;
                margin-top: -10px;
    
                .tools {
                    float: left;
                    margin-left: -10px;
                }
        
                .submit {
                    float: right;
                }
            }
        }
    }

    .comments-list {
        .cm-data {
            position: relative;
            background-color: var(--whiteColor);
            padding: 1rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 7px -5px rgba($color: #000000, $alpha: 1.0);

            .replies {
                padding-left: 50px;

                .rp-data {
                    position: relative;
                    overflow: hidden;
                    padding: .5rem 1rem 0;
                    border-radius: 4px;
                    margin-bottom: 1rem;

                    .avatar {
                        .first-letter {
                            background-color: var(--whiteColor) !important;
                        }
                    }
                }
                .rp-data::before {
                    position: absolute;
                    background: var(--backgroundColor);
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    opacity: 1;
                }
                .cm-item.reply-rep {
                    .cm-content {
                        padding: .5rem 1rem;
                        border-radius: 4px;
                    }

                    .cm-content:before {
                        position: absolute;
                        background: var(--whiteColor);
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        box-shadow: 0 1px 2px -1px rgba($color: #000000, $alpha: 0.5);
                        opacity: 0.5;
                    }
                }

                .rp-replies {
                    padding-left: 40px;
                }

                .write-comment-form {
                    padding-left: 40px;

                    .avatar {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    .on-rep-for-user {
                        .mat-form-field-infix {
                            padding-top: 28px;
                        }
                    }

                    .rep-for-user-name {
                        position: absolute;
                        background-color: var(--backgroundColor);
                        top: 0;
                        padding: 0px .5rem;
                        border-radius: 4px;
                        margin-right: .3rem;
                        height: 22px;
                        padding-right: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        i {
                            font-size: 12px;
                            opacity: .7;
                            cursor: pointer;
                            position: absolute;
                            right: 0;
                            height: 100%;
                            width: 20px;
                            flex-direction: column;
                            display: flex;
                            place-content: center;
                            align-items: center;
                        }
                        i:hover {
                            opacity: 1;
                            color: #ff0000;
                        }
                    }

                    .mat-form-field-infix {
                        margin-bottom: 26px;
                        padding-top: 3px;
                        padding-bottom: 10px;
                    }

                    mat-form-field.empty {
                        // .mat-form-field-infix {
                        //     padding-top: 3px;
                        //     padding-bottom: 10px;
                        // }

                        textarea {
                            height: 20px !important;
                        }
                    }

                    .buttons {
                        position: absolute;
                        right: 0;
                        bottom: 24px;
                        display: flex;
                        flex-direction: row;
                        place-content: flex-end;

                        .submit {
                            .mat-button {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                color: var(--accentColor) !important;
                                background-color: initial !important;

                                .txt {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}