<h4 *ngIf="viewData" class="title">{{title}}</h4>

<div *ngIf="viewData" class="web-comments">
    <div *ngIf="isBrowser" class="write-comment">
        <a *ngIf="!userData.username" class="login-mess text-error size-90 block font-300 click" 
            (click)="login()"><em>{{langContent.loginMess}}</em></a>

        <ng-container *ngIf="userData.username">
            <app-write-comment-form 
                [commonData]="commonData" 
                [langContent]="langContent" 
                [config]="null" 
                [userData]="userData" 
                (emitData)="addComment($event)"></app-write-comment-form>
        </ng-container>
    </div>

    <div class="comments-list">
        <!-- <em *ngIf="dataSource.length===0" class="text-faded size-90">{{langContent.noComment}}</em> -->

        <ng-container *ngFor="let cm of viewSource; index as cmIndex;">
            <div class="cm-data">
                <app-cm-item class="comment" 
                    [lang]="lang" 
                    [data]="cm" 
                    [avatarWidth]="40" 
                    [dateFormat]="dateFormat" 
                    [langContent]="langContent" 
                    [userData]="userData" 
                    [isBrowser]="isBrowser" 
                    (reply)="reply(cm, null, null, cmIndex, cm.userData)"></app-cm-item>

                <div class="replies">
                    <div *ngIf="cm.showReplies" class="replies-list">
                        <ng-container *ngFor="let rp of cm.reps; index as repIndex;">
                            <div class="rp-data">
                                <app-cm-item class="reply" 
                                    [lang]="lang" 
                                    [data]="rp" 
                                    [avatarWidth]="30" 
                                    [dateFormat]="dateFormat" 
                                    [langContent]="langContent" 
                                    [userData]="userData" 
                                    [isBrowser]="isBrowser" 
                                    (reply)="reply(cm, rp, null, cmIndex, rp.userData)"></app-cm-item>

                                <div *ngIf="rp.showReplies" class="rp-replies">
                                    <ng-container *ngFor="let rpRep of rp.reps; index as rpRepIndex;">
                                        <div class="rp-rep-data">
                                            <app-cm-item class="reply-rep" 
                                                [lang]="lang" 
                                                [data]="rpRep" 
                                                [avatarWidth]="30" 
                                                [dateFormat]="dateFormat" 
                                                [langContent]="langContent" 
                                                [userData]="userData" 
                                                [isBrowser]="isBrowser" 
                                                (reply)="reply(cm, rp, rpRep, cmIndex, rpRep.userData)"></app-cm-item>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <ng-container *ngIf="userData.username && isBrowser">
                        <app-write-comment-form
                            [inputID]="'replyInput'+cmIndex" 
                            [cmData]="cm"
                            [commonData]="commonData" 
                            [langContent]="langContent" 
                            [config]="null" 
                            [userData]="userData" 
                            [avatarWidth]="30"
                            (emitData)="addReply($event, cm)"></app-write-comment-form>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <span *ngIf="viewSource.length<dataSource.length" class="more-comments block"><em class="click" (click)="exportData()">Xem them cac binh luan</em></span>
    </div>
</div>