<span *ngIf="item" class="contact-item">
    <a *ngIf="!noIcon" [href]="item.href+item.value" class="icon text-{{color}}" 
        [style.color]="color || color===null ? '' : item.color">
        <i *ngIf="item.faIcon" class="{{item.faIcon}}"></i>
        <img *ngIf="!item.faIcon && item.imgIcon" [src]="item.imgIcon" alt="" height="14">
        <span *ngIf="!item.faIcon && !item.imgIcon">{{item.name}}</span>
    </a>
    
    <a [class.icon-only]="iconOnly" [href]="item.href+item.value">
        {{iconOnly ? '' : (item.showValue ? item.showValue : item.value)}}</a>
</span>