
@import '~@angular/material/theming';
@include mat-core();
$webapp-primary: mat-palette($mat-indigo);
$webapp-accent: mat-palette($mat-pink, A200, A100, A400);
$webapp-warn: mat-palette($mat-red);
$webapp-theme: mat-light-theme($webapp-primary, $webapp-accent, $webapp-warn);
@include angular-material-theme($webapp-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: scroll }

@import 'assets/styles/fonts.css';
@import 'assets/styles/bootstrap.min.css';
@import 'assets/styles/wrapper.scss';
@import 'assets/styles/colors.scss';
@import 'assets/styles/form-data.scss';
@import 'assets/styles/table.scss';
@import 'assets/styles/page.scss';

*:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.click {
    cursor: pointer;
}
.click:hover {
    opacity: .7;
}
  
.block {
    display: block;
}
  
.uppercase {
    text-transform: uppercase;
}
  
.italic {
    font-style: italic;
}

.text-faded {
    opacity: .7;
}

.size-80 {
    font-size: 80%;
}

.size-90 {
    font-size: 90%;
}

.font-200 {
    font-weight: 200;
}
.font-300 {
    font-weight: 300;
}
.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}
.font-800 {
    font-weight: 800;
}
.font-900 {
    font-weight: 900;
}
  
.p-24 {
    padding: 24px;
}
.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}
.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
  
.p-1rem {
    padding: 1rem;
}
.px-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
  
.hidden {
    display: none !important;
}
  
.pull-left {
    float: left;
}
  
.pull-right {
    float: right;
}
  
.flex {
    display: flex;
}
.flex.column {
    flex-direction: column;
    place-content: center;
}
.flex.row {
    flex-direction: row;
    align-items: center;
}
  
.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .3;
    z-index: 0;
}
.backdrop.fixed {
    position: fixed;
}
.backdrop:not(.fixed) {
    position: absolute;
}
.backdrop.dark {
    background-color: #000;
}
.backdrop.light {
    background-color: #fff;
}
  
.dropdown-btn {
    cursor: pointer;
    position: relative;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding-right: 22px;

    mat-icon {
        position: absolute;
        right: 0;
    }
}
  
.menu-dropdown {
    position: absolute;
    background-color: #fff;
    left: auto;
    top: 100%;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 7px -5px #000;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
  
    .dropdown-content {
        position: relative;
        z-index: 2;
    }
  
    .menu-item {
        position: relative;
        flex-direction: row;
        display: flex;
        align-items: center;
        padding: .5rem 1rem;

        * {
            position: relative;
            z-index: 2;
        }

        .item-avatar {
         margin-right: .5rem;
        }
    }
    .menu-item:hover::before {
        position: absolute;
        background-color: var(--accentColor);
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .1;
    }
}
.menu-dropdown.open {
    visibility: visible;
    opacity: 1;
}
  
.data-row {
    display: flex;
    flex-wrap: wrap;
}
  
.image {
    background-image: url(assets/imgs/no-image.jpg);
    background-position: center;
    background-size: cover;
}
  
button:focus, .mat-icon-button:focus, .mat-raised-button:focus, .mat-button:focus, input:focus {
    outline: none !important;
}

.cdk-overlay-pane, .mat-dialog-title, 
mat-card, 
mat-form-field, 
mat-label, 
.mat-table,
.mat-button, 
.mat-raised-button, 
.mat-radio-button, 
.mat-form-field-infix, .mat-form-field-suffix, .mat-form-field-prefix, 
.mat-select-value-text, 
.mat-select-placeholder,
.mat-option-text, 
.mat-menu-item, 
.mat-tab-label, 
.mat-slide-toggle-content,
.mat-checkbox-label {
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    // font-size: 16px;
}
  
.mat-button, .mat-raised-button {
    .mat-button-wrapper {
        flex-direction: row;
        display: flex;
        height: 100%;
        line-height: unset;
        place-content: center;
        align-items: center;
    }

    .txt {
        margin-left: .5rem;
    }
}
.mat-raised-button.lg, .mat-button.lg {
    .mat-button-wrapper {
        height: 60px;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
.mat-raised-button.medium, .mat-button.medium, .mat-raised-button.md, .mat-button.md {
    .mat-button-wrapper {
        height: 50px;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
.mat-raised-button.sm, .mat-button.sm {
    .mat-button-wrapper {
        height: 34px;
        padding-left: .3rem;
        padding-right: .3rem;
    }
}
  
.mat-raised-button.disabled, .mat-button.disabled {
    cursor: not-allowed;
    .mat-button-wrapper {
        opacity: .3;
    }
}
  
.mat-icon-button {
    mat-icon {
        margin-top: -3px;
    }
}
  
mat-tooltip-component {
    .mat-tooltip {
        font-size: 12px;
        padding: 3px 10px;
        margin-bottom: 0;
        margin-top: 0;
    }
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag:hover {
    cursor: move;
}
  
.mat-menu-panel {
    max-width: none !important;
    min-width: auto !important;
    min-height: auto !important;

    .mat-menu-item {
        flex-direction: row;
        display: flex;
        align-items: center;

        .item-icon, .item-avatar {
            margin-right: .5rem
        }
    }
}
  
.mat-option-text {
    .item-icon {
        width: 20px;
        display: inline-flex;
    }

    .flag-icon {
        margin-right: .5rem;
    }

    .img {
        float: left;
        padding-top: 10px;
        margin-right: 7px;

        img {
        width: 18px;
        }
    }
}
  
mat-option.column-flex {
    height: unset !important;

    .mat-option-text {
        flex-direction: column;
        display: flex;
        line-height: 20px;
        padding: .5rem 0;
    }
}
  
.mat-select-arrow-wrapper {
    padding-top: 10px;
}
  
mat-form-field {
    .mat-prefix {
        img {
        width: 18px;
        }
    }
}
  
.mat-dialog-container {
    .mat-dialog-title {
        flex-direction: row;
        display: flex;
        align-items: center;
    
        .icon {
            margin-right: .5rem;
        }
    }
  
    .mat-raised-button.submit {
        background-color: #1a8fd5;
        color: #fff;
    }
    .mat-raised-button.submit:hover {
        background-color: #0479bf;
    }
    .mat-button-disabled {
        cursor: not-allowed !important;
    }
}