
@import '~@angular/material/theming';
@include mat-core();
$webapp-primary: mat-palette($mat-indigo);
$webapp-accent: mat-palette($mat-pink, A200, A100, A400);
$webapp-warn: mat-palette($mat-red);
$webapp-theme: mat-light-theme($webapp-primary, $webapp-accent, $webapp-warn);
@include angular-material-theme($webapp-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: scroll }

@import 'app/templates/color-picker-template/colors.scss';
@import 'assets/styles/colors.scss';
@import 'assets/styles/wrapper.scss';
@import 'assets/styles/page.scss';
@import 'assets/styles/form.scss';
@import 'assets/styles/popup.scss';
@import 'assets/styles/table.scss';

*:focus {
    outline: none;
}

.font-face {
    font-family: 'Josefin Sans', sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a:hover {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.text-relative {
    position: relative;
}

.hidden {
    display: none !important;
}

.strike {
    text-decoration: line-through;
}

.block {
    display: block;
}

.flex-column, .flex-row {
    display: flex;
}
.flex-row {
    align-items: center;
}
.flex-column {
    place-content: center;
}

.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}

.size-90 {
  font-size: 90%;
}
.size-80 {
  font-size: 80%;
}

.p-24 {
  padding: 24px;
}

.text-faded {
  opacity: .7;
}

.text-error {
  color: #ff0000;
}

.Iota {
  margin: 0 7px;
}

.copy {
  font-family: 'Roboto';
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}
.backdrop.absolute {
    position: absolute;
}
.backdrop.fixed {
    position: fixed;
    min-height: 9999px;
}
.backdrop.dark {
    background: #000;
    opacity: .5;
}

.disabled, button:disabled {
    cursor: not-allowed !important;
}

.btn {
    font-weight: 300;
}

.star, .star_half {
    color: #ff0000;
}
.star_border {
    opacity: .3
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    min-width: 100%;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 5px -4px #000;
    visibility: hidden;
    opacity: 0;

    * {
        position: relative;
        z-index: 100;
    }

    .menu-item {
        display: flex;
        font-weight: 400;
        padding: 12px 15px;
        line-height: 20px;

        .icon {
            width: 24px;
            display: inline-block;
        }
    }
    .menu-item:hover {
        color: var(--warnColor);
    }
    .menu-item:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid;
        border-color: var(--primaryColor);
        opacity: .06;
        z-index: 0;
    }
    .menu-item:last-of-type:after {
        border-bottom: none;
    }
}
.menu-dropdown:before {
    position: absolute;
    background: var(--light);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .98;
}
.menu-dropdown.open {
    visibility: visible;
    opacity: 1;
}

.dropdown-toggle {
    display: inline-flex !important;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    i {
        font-size: 12px;
        margin-left: 7px;
        margin-top: 2px;
    }

    // .mat-icon-button.on-open {
    //     transform: rotate(-180deg);
    // }
}
.dropdown-toggle:hover {
    color: var(--warnColor);
}
.dropdown-toggle:after {
    display: none !important;
}

.dropdown-content {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    // opacity: 0;
}
.dropdown-content.open {
    height: auto;
    overflow: unset;
    visibility: visible;
    opacity: 1;
}

.mat-menu-panel {
    max-width: none !important;
    min-width: auto !important;
    min-height: auto !important;

    .mat-menu-item {
        flex-direction: row;
        display: flex;
        align-items: center;
    
        mat-icon, i, flag-icon {
            margin-right: 7px;
        }
    
        i {
            font-size: 18px;
            opacity: .7;
            min-width: 22px
        }
    }
}
.mat-menu-panel.only-icon {
    .mat-menu-item {
        mat-icon, i {
            margin-right: 0;
        }
    }
}
.mat-menu-panel.small-size {
    .mat-menu-item {
        line-height: 40px !important;
        height: 34px !important;

        i {
            font-size: 14px;
        }
    }
}

.mat-tab-label {
    min-width: auto !important;
}

mat-card, 
mat-form-field, 
mat-label, 
.mat-table,
.mat-button, 
.mat-raised-button, 
.mat-radio-button, 
.mat-input-element, 
textarea.mat-input-element,
.mat-select-value-text, 
.mat-select-placeholder,
.mat-option-text, 
.mat-menu-item, 
.mat-tab-label {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px;
}

.mat-card-content {
    font-size: 16px !important;
}

.mat-raised-button.flex, .mat-button.flex {
    .mat-button-wrapper {
        height: 100%;
        width: 100%;
        flex-direction: row;
        display: flex;
        place-content: center;
        align-items: center;
    
        .icon {
            margin-right: .5rem;
        }

        .txt {
            padding-top: 3px;
        }
    }
}

.mat-raised-button.lg, .mat-button.lg {
    font-size: 18px;
    padding: 7px 30px;
    height: 60px;
}

.mat-raised-button.medium, .mat-button.medium {
    font-size: 18px;
    padding: 3px 20px;
    height: 44px;
}

.mat-raised-button.small, .mat-button.small {
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 27px;
}

.mat-button.box-shadow {
    box-shadow: 0 1px 3px -3px #000;
}

// app-continue-btn {
//     .mat-button {
//         border-radius: 0;
//     }

//     // .mat-button {
//     //     border-radius: 20px;
//     // }

//     // .mat-button.lg {
//     //     border-radius: 25px;
//     // }

//     // .mat-button.medium {
//     //     border-radius: 22px;
//     // }

//     // .mat-button.small {
//     //     border-radius: 15px;
//     // }
// }

.mat-raised-button.circle {
    min-width: auto;
    width: 54px;
    height: 54px;
    padding: 0;
    border-radius: 50%;
}

button:focus, .mat-icon-button:focus, .mat-raised-button:focus, .mat-button:focus, input:focus {
    outline: none !important;
}

.mat-radio-disabled {
    opacity: .7;
}

mat-tooltip-component {
    .mat-tooltip {
        font-size: 12px;
        padding: 3px 10px;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.mat-checkbox-layout {
    white-space: pre-wrap !important;
    display: unset !important;

    .mat-checkbox-inner-container {
        margin-top: -3px;
    }
}

.cdk-overlay-container {
    lightbox {
        gallery-thumbs {
            display: none !important;
        }
    }

    .mat-autocomplete-panel {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        .mat-option.with-avatar {
            .mat-option-text {
                flex-direction: row;
                display: flex;
                align-items: center;
    
                app-avatar {
                    margin-right: 1rem;
                    margin-left: 3px;
                    box-shadow: 0 1px 3px -2px #000
                }
            }
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag:hover {
    cursor: move;
}