#wrapper {
    .text-accent {
        color: var(--accentColor);
    }
    .bg-accent {
        background-color: var(--accentColor);
        color: #fff;
    
        a {
            color: var(--lightColor);
        }
        a:hover {
            color: var(--warnColor);
        }

        .mat-button-wrapper {
            color: #fff;
        }

        .mat-checkbox-frame {
            border-color: #fff;
        }
    
        app-contact-item {
            img {
                filter: invert(1);
            }
        }
    }
    .mat-button.bg-accent:hover, .mat-icon-button.bg-accent:hover {
        background-color: var(--warnColor);
    }
    .border-accent {
        border-color: var(--accentColor);
    }
    
    .text-accent-dark {
        color: var(--accentDark);
    }
    .bg-accent-dark {
        background-color: var(--accentDark);
        color: var(--light);
    
        a {
            color: var(--accentLight);
        }
        a:hover {
            color: var(--light);
        }
    }
    .mat-button.bg-accent-dark:hover, .mat-icon-button.bg-accent-dark:hover {
        background-color: var(--accentColor);
    }
    .border-accent-dark {
        border-color: var(--accentDark);
    }
    
    .text-accent-light {
        color: var(--accentLight);
    }
    .bg-accent-light {
        background-color: var(--accentLight);
        color: var(--primaryColor);
    }
    .border-accent-light {
        color: var(--accentLight);
    }
    
    .text-warn {
        color: var(--warnColor);
    }
    .bg-warn {
        background-color: var(--warnColor);
        color: #fff;
    
        a {
            color: var(--lightColor);
        }

        .mat-button-wrapper {
            color: #fff;
        }

        .mat-checkbox-frame {
            border-color: #fff;
        }
    
        app-contact-item {
            img {
                filter: invert(1);
            }
        }
    }
    .mat-button.bg-warn:hover, .mat-icon-button.bg-warn:hover {
        background: var(--accentColor);
    }
    .border-warn {
        border-color: var(--warnColor);
    }
    
    .text-primary {
        color: var(--primaryColor) !important;
    }
    .bg-primary {
        background-color: var(--primaryColor) !important;
        color: #fff;
    
        a {
            color: var(--lightColor);
        }

        .mat-button-wrapper {
            color: #fff;
        }

        .mat-checkbox-frame {
            border-color: #fff;
        }
    
        app-contact-item {
            img {
                filter: invert(1);
            }
        }
    }
    .mat-button.bg-primary:hover, .mat-icon-button.bg-primary:hover {
        background-color: var(--accentDark);
    }
    .border-primary {
        border-color: var(--primaryColor);
    }

    .bg-primary-light { 
        position: relative;
        background: var(--primaryColor);
        color: #fff;

        a, .mat-button-wrapper {
            color: #fff;
        }

        .mat-checkbox-frame {
            border-color: #fff;
        }
    }

    .bg-primary-light:before {
        position: absolute;
        background: var(--accentColor);
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        opacity: .5
    }
    
    .text-light {
        color: var(--lightColor) !important;
    }
    .bg-light {
        background-color: var(--lightColor) !important;
    }
    .border-light {
        border-color: var(--lightBorder);
    }

    .bg-background {
        background-color: var(--backgroundColor);
    }

    .bg-white {
        background-color: #fff;
    }
    .mat-button.bg-white:hover, .mat-icon-button.bg-white:hover {
        background-color: var(--lightColor) !important;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: var(--warnColor) !important;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle, 
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
    .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
        background-color: var(--warnColor) !important;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: var(--warnColor) !important;
    }

    .mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle {
        stroke: var(--warnColor);
    }
}