.page {
    a {
        color: var(--accentColor);
    }
    a:hover {
        color: var(--warnColor);
    }

    .page-banner {
        position: relative;

        .bg {
            flex-direction: column;
            display: flex;
            place-content: center;
            height: 100%;
            opacity: 0;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            
            .container {
                height: 100%;
                position: relative;
                flex-direction: row;
                display: flex;
                align-items: center;
            }

            .img-icon {
                position: absolute;
                right: 15px;
                opacity: 0;
            }
    
            .data {
                height: 100%;
                color: var(--light);
                max-width: 700px;
                width: 80%;
                // margin: auto;
                flex-direction: column;
                display: flex;
                place-content: center;
                // align-items: center;
                // text-align: center;
                padding-top: 150px;
                opacity: 0;
        
                .sub-title {
                    font-size: 35px;
                    margin-bottom: 1rem;
                }
        
                .site-title {
                    font-size: 40px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 0;
                    margin-top: 1rem;
                }
        
                .caption {
                    font-size: 22px;
                    margin-top: 0;
                }

                @media (max-width: 567px) {
                    .site-title {
                        font-size: 30px;
                    }

                    .caption {
                        font-size: 18px;
                    }
                }
        
                app-continue-btn {
                    margin-top: 2.5rem;
                }
            }
        }
    }

    .page-content {
        position: relative;
        background: var(--lightColor);
        padding-top: 2rem;
        padding-bottom: 1rem;
        visibility: hidden;
        z-index: 2;
        opacity: 0;

        // .container {
        //     max-width: 960px;
        // }

        .picture {
            background: var(--lightColor);
            border: 5px solid var(--lightColor);
            box-shadow: 0 1px 5px -4px #000;
            margin-left: 1px;
    
            app-avatar {
                width: 100%;
                padding-top: 100%;
                position: relative;
                overflow: hidden;
                flex-direction: column;
                display: flex;
                align-items: center;
                place-content: center;
            }
    
            .avatar {
                position: absolute;
                top: 0;

                .iframe {
                    height: 70% !important;
                    
                    iframe {
                        border: none !important;
                        padding: 0 !important;
                    }
                }
            }
        }
    }
}

.page.router-loaded {
    .page-banner {
        .bg {
            opacity: 1;
        }
        .bg::before {
            position: absolute;
            background: var(--primaryColor);
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .3
        }

        .content {
            .img-icon {
                opacity: 1;
            }

            .data {
                opacity: 1;
                padding-top: 0;
            }
        }
    }

    .page-content {
        visibility: visible;
        opacity: 1;
        margin-top: -110px;
    }
}