#page-layout {

    
    .page-content {
        .message {
            background-color: var(--lightColor);
            padding: 1rem;
            color: var(--warnColor);
            margin-bottom: 1.5rem;
        }
    }
}