.popup-content {
    top: 5%;
    left: 0;
    bottom: -5%;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    flex-direction: column;
    display: flex;
    place-content: center;
    align-items: center;
    opacity: 0;
    z-index: 0;

    .popup-body {
        position: relative;
        background: #fff;
        width: 95%;
        max-height: 100%;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 3px 14px -5px #000;
        z-index: 200;

        h4.title {
            position: relative;
            background: var(--backgroundColor);
            font-size: 20px;
            margin: 0;
            height: 60px;
            padding: 0 60px 0 30px;
            flex-direction: row;
            display: flex;
            align-items: center;
            box-shadow: 0 1px 1px -1px #999;
            z-index: 999;

            .icon {
                width: 40px;
                height: 24px;
            }

            .sub-title {
                position: absolute;
                bottom: 5px;
                left: 60px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .close-content {
            position: absolute;
            right: 14px;
            top: 14px;
            cursor: pointer;
            z-index: 9999;
        }

        .close-content:hover {
            color: #f44336;
        }

        .popup-data {
            height: 100%;
            margin-top: -60px;
            padding-top: 90px;
            
            @media (min-width: 992px) {
                overflow-y: auto;
            }

            .data-content {
                padding: 0 30px 30px;

                .re-captcha {
                    margin-bottom: 1rem;
                }
            }
        }

        .process-template {
            border-radius: 4px;
            overflow: hidden;

            .backdrop {
                position: absolute;
            }
        }
    }
    
    .popup-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .7;
    }
    .popup-bg.dark {
        background-color: #000;
    }
    .popup-bg.light {
        background-color: #fff;
    }
}

.popup-content.open {
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: 9999;
}

.popup-content:not(.fixed) {
    position: absolute;
}

.popup-content.fixed {
    position: fixed;
}