.mat-table {
    width: 100%;

    .mat-header-row {
        height: 50px;

        .mat-header-cell {
            font-weight: 400;
        }
    }

    .mat-row {
        .mat-cell {
            .data-row {
                .data-col {
                    flex-direction: column;
                    display: flex;
                    place-content: center;
                }

                .data-col.text-center {
                    align-items: center;
                }
            }
        }

        .mat-cell.disabled {
            opacity: .7;
        }
    }
}