<div class="avatar-template" [class.circle]="circle" [ngStyle]="heightStyles">
    <div class="image-item main-image" [class.iframe]="mainImage?.type==='iframe'">
        <div *ngIf="!mainImage?.viewImage" class="no-image">
            <img [src]="noImage" alt="" width="100%">
        </div>

        <ng-container *ngIf="mainImage?.viewImage">
            <img *ngIf="mainImage.type!=='iframe'" class="image" [class.landscape]="mainImage.landscape"
                [src]="mainImage.src" [alt]="mainImage.alt ? mainImage.alt : alt" [ngStyle]="marginTop">
        </ng-container>

        <div *ngIf="mainImage?.type==='iframe'" class="iframe" [innerHtml]="mainImage.src | safeHtml"></div>
    </div>

    <!-- <div *ngFor="let item of dataSource; index as i;" class="{{i===0 ? 'main' : 'other'}} avatar-{{i}}">
        <div *ngIf="!item.viewImage && isBrowser" class="no-image">
            <img [src]="'assets/imgs/'+noImage" alt="" width="100%">
        </div>

        <ng-container *ngIf="item.viewImage">
            <div *ngIf="item.type!=='iframe'" class="image">
                <img [src]="item.src" [alt]="item.alt ? item.alt : alt" [class.landscape]="item.landscape">
            </div>

            <div *ngIf="item.type==='iframe'" class="iframe" [innerHtml]="item.src | safeHtml"></div>
        </ng-container>
    </div> -->
</div>