.phone-number-form-field {
    position: relative;
    background: inherit;

    .code {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        z-index: 2;

        .icon {
            position: absolute;
            left: 0;
            top: 4px;
            height: 100%;
            flex-direction: column;
            display: flex;
            place-content: center;
            z-index: 1;

            mat-icon {
                font-size: 20px;
                margin-left: -4px;
                margin-top: 4px;
            }
        }

        .mat-form-field-suffix {
            display: none;
        }
    }

    .number {
        position: relative;
        background: inherit;
        width: 100%;
        z-index: 1;
    }

    .is-existence {
        position: absolute;
        left: 0;
        display: block;
    }
}

.phone-number-form-field.form-field-outline {
    background: none;
    display: block;

    .code {
        width: 105px;

        .icon {
            left: 12px;
        }
    }

    .code:not(.on-focus) {

        .mat-form-field-label {
            padding-left: 17px;
        }
    }

    .is-existence {
        bottom: 0;
    }
}

.phone-number-form-field.style_2 {
    .code {
        width: 90px;
        // z-index: 200;

        app-single-autocomplete {
            position: relative;
            z-index: 200;

            mat-form-field {

                .mat-form-field-wrapper {
                    height: 50px !important;
                }

                .mat-form-field-outline, .mat-form-field-outline-thick {
                    display: none;
                }
    
                .mat-form-field-infix {
                    // min-width: 300px;

                    input {
                        padding-left: 20px;
                    }
    
                    .mat-form-field-label-wrapper {
                        overflow: unset;
                        
                        .mat-form-field-label {
                            margin-left: -5px;
                            min-width: 120px;
    
                            mat-label {
                                background: #fff;
                                padding: 0 5px;
                            }
                            .mat-placeholder-required {
                                background: #fff;
                                padding-right: 5px;
                            }
                        }
                    }
                }

                .mat-form-field-appearance-outline {
                    .mat-error {
                        top: 36px;
                    }
                }
            }
        }
    }

    .code.empty-code {
        width: 100% !important;

        .icon {
            z-index: 999;
        }

        input {
            background: #fff
        }
    }

    .number {
        input {
            padding-left: 75px;
        }
    }
}