<div class="phone-number-form-field form-field-{{appearance}} {{formStyle}}">
    <input type="hidden" [(ngModel)]="code" (ngModelChange)="getData();">

    <div class="code" 
        [class.empty-code]="!code" 
        [class.on-focus]="onDialCodeFocus || code" 
        [style.overflow]="codeError ? 'unset' : 'hidden'">
        <app-single-autocomplete
            [appearance]="appearance"
            [matlabel]="formStyle!=='style_2' ? countryMatlabel : matLabel"
            [placeholder]="countryPlaceholder ? countryPlaceholder : langData.countryPlaceholder"
            [matSuffix]="null" 
            [required]="number || required" 
            [options]="countriesData" 
            [myControlValue]="myControl" 
            [requireMatchValue]="langData.requireMatchValue" 
            (emitFocus)="onDialCodeFocus=true" 
            (emitBlur)="onDialCodeFocus=false"
            (emitValue)="inputedCode=$event" 
            (emitData)="getCode($event);" 
            (emitError)="codeError=$event;">
        </app-single-autocomplete>
        <span class="icon">
            <flag-icon *ngIf="code" [country]="countryCode" squared></flag-icon>
            <mat-icon *ngIf="!code">not_listed_location</mat-icon>
        </span>
    </div>
    
    <mat-form-field class="number" [appearance]="appearance" [floatLabel]="floatLabel">
        <mat-label *ngIf="formStyle!=='style_2'">{{matLabel ? matLabel : langData.matLabel}}</mat-label>
        <input type="number" [(ngModel)]="number" (ngModelChange)="getData();" [required]="required" matInput 
            [placeholder]="formStyle!=='style_2' || code ? langData.placeholder : ''" autocomplete="off">
        <mat-icon *ngIf="matSuffix" matSuffix>phone</mat-icon>
    </mat-form-field>

    <em *ngIf="isExistence" class="is-existence text-error">{{isExistence}}</em>
</div>
