<div *ngIf="colorPreview" class="color-preview">
    <div class="p-24 {{formData.selectedColor.class ? formData.selectedColor.class : ''}}" 
        [style.background-color]="formData.selectedColor.value" 
        [style.color]="formData.selectedColor.textColor" 
        [style.border-color]="formData.selectedColor.defaultBorder">
        <span class="font-200 color-data" 
            [style.color]="formData.selectedColor.invertBL">Data: {{formData.selectedColor | json}}</span>

        <span>Color text here</span>
        <span [style.color]="formData.selectedColor.highlightColor">Text hightlight</span>
        <span><a [style.color]="formData.selectedColor.linkColor" href="#">Text link</a></span>
        <span>
            <span class="text-accent" style="margin-right: 20px;">Text accent</span>
            <span class="text-warn" style="margin-right: 20px;">Text warn</span>
            <span class="text-secondary">Text Secondary</span>
        </span>
    </div>
</div>

<div class="color-picker-template">
    <mat-tab-group [selectedIndex]="formData.selectedColorIndex" (selectedTabChange)="selectTab($event);">
        <ng-container *ngFor="let item of standardColors">
            <mat-tab *ngIf="item.value!=='custom' || item.value==='custom' && custom" [label]="item.name"></mat-tab>
        </ng-container>
    </mat-tab-group>
    
    <ng-container *ngIf="formData.color">
        <div *ngIf="formData.color.value!=='custom'" class="color-extensions" 
            [style.background-color]="formData.color.value==='blue-grey' || formData.color.value==='black' ? '#0288d1' : '#37474f'">
            <div class="colors">
                <span *ngFor="let item of formData.color.extensions" class="color-item {{formData.color.value}}-{{item.code}}" 
                    [class.selected]="item.value===formData.selectedColor.value" 
                    [style.border-color]="item.value" 
                    [style.background-color]="item.value" 
                    (click)="selectColor(item);">
                    <em class="code">{{item.code}}</em>
                </span>
            </div>
            <span class="color-code">
                {{formData.colorCode}} <span *ngIf="formData.colorValue" style="font-weight: 200;">({{formData.colorValue}})</span>
            </span>
        </div>

        <div *ngIf="formData.color.value==='custom' && custom" class="color-extensions my-color-picker">
            <span>{{data.backgroundColor}}</span>
            <app-color-picker-button [color]="formData.selectedColor.value" 
                (emitData)="selectCustomColor($event);"></app-color-picker-button>
            
            <div class="text-colors">
                <div *ngIf="custom.textColor" class="item">
                    <span class="item-title">{{data.textColor}}</span>
                    <app-color-picker-button [color]="formData.selectedColor.textColor" 
                        (emitData)="formData.selectedColor.textColor=$event.color; emitData.emit(formData.selectedColor);"></app-color-picker-button>
                </div>
                
                <div *ngIf="custom.linkColor" class="item">
                    <span class="item-title">{{data.linkColor}}</span>
                    <app-color-picker-button [color]="formData.selectedColor.linkColor" 
                        (emitData)="formData.selectedColor.linkColor=$event.color; emitData.emit(formData.selectedColor);"></app-color-picker-button>
                </div>
    
                <div *ngIf="custom.highlightColor" class="item">
                    <span class="item-title">{{data.highlightColor}}</span>
                    <app-color-picker-button [color]="formData.selectedColor.highlightColor" 
                        (emitData)="formData.selectedColor.highlightColor=$event.color; emitData.emit(formData.selectedColor);"></app-color-picker-button>
                </div>
            </div>
        </div>
    </ng-container>
</div>