.color-preview {
    background: #fff;
    padding: 3px;
    border: 1px dashed #dedede;
    margin-bottom: 1rem;

    .p-24 {
        flex-direction: column;
        display: flex;
        place-content: center;

        .color-data {
            padding: 5px 10px;
            border: 1px solid;
            border-color: inherit;
        }
    }
}

.color-picker-template {
    background: #263238;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 3px -2px #555;

    mat-tab-group {
        .mat-tab-label {
            color: #fff;
            padding: 0 15px !important;
        }
    
        .mat-tab-label-active {
            background: #1e2129;
            color: #fff59d;
            opacity: 1;
        }
    
        .mat-tab-label:hover {
            background: #1e2129;
        }
    
        .mat-ink-bar {
            background-color: #fff9c4 !important;
        }
    }

    .color-extensions {
        padding: 4px 4px 5px 5px;

        .colors {
            overflow: hidden;

            .color-item {
                position: relative;
                float: left;
                width: 40px;
                height: 40px;
                margin-right: 1px;
                margin-top: 1px;
                border-style: solid;
                border-width: 1px;
                flex-direction: column;
                display: flex;
                align-items: center;
                text-align: center;
                cursor: pointer;

                .code {
                    position: absolute;
                    bottom: 3px;
                    font-size: 62%;
                }
            }
            .color-item:hover {
                border-color: #fff !important;
            }
            .color-item.selected {
                border-radius: 50%;
                border-width: 0 !important;
            }
            .color-item.selected:hover {
                border-width: 0 !important;
            }
        }

        .color-code {
            color: #fff;
            display: block;
            text-align: center;
            margin-top: 7px;
        }
    }

    .my-color-picker {
        background: #e1f5fe;
        padding: 20px;

        button {
            margin-left: 10px;
            box-shadow: 1px 1px 6px -4px #000;
        }

        .text-colors {
            flex-direction: row;
            display: flex;

            .item {
                flex-direction: row;
                display: flex;
                align-items: center;
                margin-top: 1rem;
                margin-right: 40px;
                line-height: 20px;
            }
            .item:last-of-type {
                margin-right: 0;
            }

            @media (max-width: 639px) {
                flex-direction: column;

                .item {
                    margin-right: 0;

                    span.item-title {
                        min-width: 137px;
                    }
                }
            }
        }
    }
}